In [1]:
import random

import numpy as np
import torch
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from torch import nn
from tqdm import tqdm
from torch.autograd import Variable
from torch.utils.data import Dataset, DataLoader

In [2]:
data = np.load(r'D:\heat_wave\atlantic\expand_area1\ssh\ssh_93_19_atlantic_area.npz')
print(data.files) # ['sst_obser', 'slfh', 'sshf', 'ssr', 'str', 'mld', 'analysis_temp', 'u', 'v', 'T_d', 'u_d', 'v_d', 'xx', 'yy', 'dT_dt', 'dT_dx', 'dT_dy']

['time', 'lat', 'lon', 'sea_surface_height_above_geoid', 'surface_geostrophic_eastward_sea_water_velocity', 'surface_geostrophic_northward_sea_water_velocity', 'sea_surface_height_above_sea_level', 'surface_geostrophic_eastward_sea_water_velocity_assuming_sea_level_for_geoid', 'surface_geostrophic_northward_sea_water_velocity_assuming_sea_level_for_geoid']

In [3]:
sea_surface_height_above_geoid = data['sea_surface_height_above_geoid'][:]
sea_surface_height_above_sea_level = data['sea_surface_height_above_sea_level'][:]

In [4]:
# SON   93
date_93_1 = 243
date_93_2 = 334
data_1 = date_93_1
data_2 = date_93_2

sea_surface_height_above_geoid_93 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_93 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [5]:
# SON   94
date_94_1 = 608
date_94_2 = 699
data_1 = date_94_1
data_2 = date_94_2

sea_surface_height_above_geoid_94 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_94 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [6]:
# SON   95
date_95_1 = 973
date_95_2 = 1064
data_1 = date_95_1
data_2 = date_95_2

sea_surface_height_above_geoid_95 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_95 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [7]:
# SON   96
date_96_1 = 1339
date_96_2 = 1430
data_1 = date_96_1
data_2 = date_96_2

sea_surface_height_above_geoid_96 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_96 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [8]:
# SON   97
date_97_1 = 1704
date_97_2 = 1795
data_1 = date_97_1
data_2 = date_97_2

sea_surface_height_above_geoid_97 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_97 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [9]:
# SON   98
date_98_1 = 2069
date_98_2 = 2160
data_1 = date_98_1
data_2 = date_98_2

sea_surface_height_above_geoid_98 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_98 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [10]:
# SON   99
date_99_1 = 2434
date_99_2 = 2525
data_1 = date_99_1
data_2 = date_99_2

sea_surface_height_above_geoid_99 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_99 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [11]:
# SON   00
date_00_1 = 2800
date_00_2 = 2891
data_1 = date_00_1
data_2 = date_00_2

sea_surface_height_above_geoid_00 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_00 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [12]:
# SON   01
date_01_1 = 3165
date_01_2 = 3256
data_1 = date_01_1
data_2 = date_01_2

sea_surface_height_above_geoid_01 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_01 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [13]:
# SON   02
date_02_1 = 3529
date_02_2 = 3620
data_1 = date_02_1
data_2 = date_02_2

sea_surface_height_above_geoid_02 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_02 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [14]:
# SON   03
date_03_1 = 3895
date_03_2 = 3986
data_1 = date_03_1
data_2 = date_03_2

sea_surface_height_above_geoid_03 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_03 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [15]:
# SON   04
date_04_1 = 4261
date_04_2 = 4352
data_1 = date_04_1
data_2 = date_04_2

sea_surface_height_above_geoid_04 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_04 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [16]:
# SON   05
date_05_1 = 4626
date_05_2 = 4717
data_1 = date_05_1
data_2 = date_05_2

sea_surface_height_above_geoid_05 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_05 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [17]:
# SON   06
date_06_1 = 4990
date_06_2 = 5081
data_1 = date_06_1
data_2 = date_06_2

sea_surface_height_above_geoid_06 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_06 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [18]:
# SON   07
date_07_1 = 5356
date_07_2 = 5447
data_1 = date_07_1
data_2 = date_07_2

sea_surface_height_above_geoid_07 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_07 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [19]:
# SON   08
date_08_1 = 5722
date_08_2 = 5813
data_1 = date_08_1
data_2 = date_08_2

sea_surface_height_above_geoid_08 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_08 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [20]:
# SON   09
date_09_1 = 6087
date_09_2 = 6178
data_1 = date_09_1
data_2 = date_09_2

sea_surface_height_above_geoid_09 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_09 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [21]:
# SON   10
date_10_1 = 6452
date_10_2 = 6543
data_1 = date_10_1
data_2 = date_10_2

sea_surface_height_above_geoid_10 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_10 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [22]:
# SON   11
date_11_1 = 6817
date_11_2 = 6908
data_1 = date_11_1
data_2 = date_11_2

sea_surface_height_above_geoid_11 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_11 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [23]:
# SON   12
date_12_1 = 7183
date_12_2 = 7274
data_1 = date_12_1
data_2 = date_12_2

sea_surface_height_above_geoid_12 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_12 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [24]:
# SON   13
date_13_1 = 7548
date_13_2 = 7639
data_1 = date_13_1
data_2 = date_13_2

sea_surface_height_above_geoid_13 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_13 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [25]:
# SON   14
date_14_1 = 7913
date_14_2 = 8004
data_1 = date_14_1
data_2 = date_14_2

sea_surface_height_above_geoid_14 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_14 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [26]:
# SON   15
date_15_1 = 8278
date_15_2 = 8369
data_1 = date_15_1
data_2 = date_15_2

sea_surface_height_above_geoid_15 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_15 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [27]:
# SON   16
date_16_1 = 8644
date_16_2 = 8735
data_1 = date_16_1
data_2 = date_16_2

sea_surface_height_above_geoid_16 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_16 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [28]:
# SON   17
date_17_1 = 9009
date_17_2 = 9100
data_1 = date_17_1
data_2 = date_17_2

sea_surface_height_above_geoid_17 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_17 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [29]:
# SON   18
date_18_1 = 9374
date_18_2 = 9465
data_1 = date_18_1
data_2 = date_18_2

sea_surface_height_above_geoid_18 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_18 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [30]:
# SON   19
date_19_1 = 9739
date_19_2 = 9830
data_1 = date_19_1
data_2 = date_19_2

sea_surface_height_above_geoid_19 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_19 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [31]:
sea_surface_height_above_geoid_93_19 = np.concatenate((sea_surface_height_above_geoid_93,
                                                      sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95,
                                                      sea_surface_height_above_geoid_96, sea_surface_height_above_geoid_97,
                                                      sea_surface_height_above_geoid_98, sea_surface_height_above_geoid_99,
                                                      sea_surface_height_above_geoid_00,
                                                      sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                      sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                      sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                      sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                      sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                      sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                      sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                      sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                      sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                      sea_surface_height_above_geoid_19),axis = 0)

In [32]:
sea_surface_height_above_sea_level_93_19 = np.concatenate((
sea_surface_height_above_sea_level_93, sea_surface_height_above_sea_level_94,
sea_surface_height_above_sea_level_95, sea_surface_height_above_sea_level_96,
sea_surface_height_above_sea_level_97, sea_surface_height_above_sea_level_98,
sea_surface_height_above_sea_level_99, sea_surface_height_above_sea_level_00,
sea_surface_height_above_sea_level_01, sea_surface_height_above_sea_level_02,
sea_surface_height_above_sea_level_03, sea_surface_height_above_sea_level_04,
sea_surface_height_above_sea_level_05, sea_surface_height_above_sea_level_06,
sea_surface_height_above_sea_level_07, sea_surface_height_above_sea_level_08,
sea_surface_height_above_sea_level_09, sea_surface_height_above_sea_level_10,
sea_surface_height_above_sea_level_11, sea_surface_height_above_sea_level_12,
sea_surface_height_above_sea_level_13, sea_surface_height_above_sea_level_14,
sea_surface_height_above_sea_level_15, sea_surface_height_above_sea_level_16,
sea_surface_height_above_sea_level_17, sea_surface_height_above_sea_level_18,
sea_surface_height_above_sea_level_19),axis = 0)

In [33]:
np.savez(r'D:\heat_wave\atlantic\expand_area1\ssh\SON_SSH.npz',
        sea_surface_height_above_geoid =  sea_surface_height_above_geoid_93_19,
        sea_surface_height_above_sea_level = sea_surface_height_above_sea_level_93_19)

In [35]:
sea_surface_height_above_geoid.shape

(9861, 65, 49)

In [36]:
sea_surface_height_above_sea_level.shape

(9861, 65, 49)