In [1]:
import random

import numpy as np
import torch
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from torch import nn
from tqdm import tqdm
from torch.autograd import Variable
from torch.utils.data import Dataset, DataLoader

In [2]:
data = np.load(r'D:\heat_wave\WEIO\expand_WEIO\other_variables\海气反馈\low_cloud_cover_WEIO_chazhi.npz')
print(data.files) # ['sst_obser', 'slfh', 'sshf', 'ssr', 'str', 'mld', 'analysis_temp', 'u', 'v', 'T_d', 'u_d', 'v_d', 'xx', 'yy', 'dT_dt', 'dT_dx', 'dT_dy']

['lat', 'lon', 'low_cloud_cover']

In [3]:
low_cloud_cover = data['low_cloud_cover'][:]

In [4]:
# MAM   93
date_93_1 = 59
date_93_2 = 151
data_1 = date_93_1
data_2 = date_93_2

low_cloud_cover_93 = low_cloud_cover[data_1:data_2,:,:]

In [5]:
# MAM   94
date_94_1 = 424
date_94_2 = 516
data_1 = date_94_1
data_2 = date_94_2

low_cloud_cover_94 = low_cloud_cover[data_1:data_2,:,:]

In [6]:
# MAM   95
date_95_1 = 789
date_95_2 = 881
data_1 = date_95_1
data_2 = date_95_2

low_cloud_cover_95 = low_cloud_cover[data_1:data_2,:,:]

In [7]:
# MAM   96
date_96_1 = 1155
date_96_2 = 1247
data_1 = date_96_1
data_2 = date_96_2

low_cloud_cover_96 = low_cloud_cover[data_1:data_2,:,:]

In [8]:
# MAM   97
date_97_1 = 1520
date_97_2 = 1611
data_1 = date_97_1
data_2 = date_97_2

low_cloud_cover_97 = low_cloud_cover[data_1:data_2,:,:]

In [9]:
# MAM   98
date_98_1 = 1885
date_98_2 = 1977
data_1 = date_98_1
data_2 = date_98_2

low_cloud_cover_98 = low_cloud_cover[data_1:data_2,:,:]

In [10]:
# MAM   99
date_99_1 = 2250
date_99_2 = 2342
data_1 = date_99_1
data_2 = date_99_2

low_cloud_cover_99 = low_cloud_cover[data_1:data_2,:,:]

In [11]:
# MAM   00
date_00_1 = 2616
date_00_2 = 2708
data_1 = date_00_1
data_2 = date_00_2

low_cloud_cover_00 = low_cloud_cover[data_1:data_2,:,:]

In [12]:
# MAM   01
date_01_1 = 2981
date_01_2 = 3073
data_1 = date_01_1
data_2 = date_01_2

low_cloud_cover_01 = low_cloud_cover[data_1:data_2,:,:]

In [13]:
# MAM   02
date_02_1 = 3346
date_02_2 = 3438
data_1 = date_02_1
data_2 = date_02_2

low_cloud_cover_02 = low_cloud_cover[data_1:data_2,:,:]

In [14]:
# MAM   03
date_03_1 = 3711
date_03_2 = 3803
data_1 = date_03_1
data_2 = date_03_2

low_cloud_cover_03 = low_cloud_cover[data_1:data_2,:,:]

In [15]:
# MAM   04
date_04_1 = 4077
date_04_2 = 4169
data_1 = date_04_1
data_2 = date_04_2

low_cloud_cover_04 = low_cloud_cover[data_1:data_2,:,:]

In [16]:
# MAM   05
date_05_1 = 4442
date_05_2 = 4534
data_1 = date_05_1
data_2 = date_05_2

low_cloud_cover_05 = low_cloud_cover[data_1:data_2,:,:]

In [17]:
# MAM   06
date_06_1 = 4807
date_06_2 = 4899
data_1 = date_06_1
data_2 = date_06_2

low_cloud_cover_06 = low_cloud_cover[data_1:data_2,:,:]

In [18]:
# MAM   07
date_07_1 = 5172
date_07_2 = 5264
data_1 = date_07_1
data_2 = date_07_2

low_cloud_cover_07 = low_cloud_cover[data_1:data_2,:,:]

In [19]:
# MAM   08
date_08_1 = 5538
date_08_2 = 5630
data_1 = date_08_1
data_2 = date_08_2

sea_surface_height_above_geoid_08 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_08 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [20]:
# MAM   09
date_09_1 = 5903
date_09_2 = 5995
data_1 = date_09_1
data_2 = date_09_2

sea_surface_height_above_geoid_09 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_09 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [21]:
# MAM   10
date_10_1 = 6268
date_10_2 = 6360
data_1 = date_10_1
data_2 = date_10_2

sea_surface_height_above_geoid_10 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_10 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [22]:
# MAM   11
date_11_1 = 6633
date_11_2 = 6725
data_1 = date_11_1
data_2 = date_11_2

sea_surface_height_above_geoid_11 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_11 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [23]:
# MAM   12
date_12_1 = 6999
date_12_2 = 7091
data_1 = date_12_1
data_2 = date_12_2

sea_surface_height_above_geoid_12 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_12 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [24]:
# MAM   13
date_13_1 = 7364
date_13_2 = 7455
data_1 = date_13_1
data_2 = date_13_2

sea_surface_height_above_geoid_13 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_13 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [25]:
# MAM   14
date_14_1 = 7729
date_14_2 = 7821
data_1 = date_14_1
data_2 = date_14_2

sea_surface_height_above_geoid_14 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_14 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [26]:
# MAM   15
date_15_1 = 8094
date_15_2 = 8185
data_1 = date_15_1
data_2 = date_15_2

sea_surface_height_above_geoid_15 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_15 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [27]:
# MAM   16
date_16_1 = 8460
date_16_2 = 8552
data_1 = date_16_1
data_2 = date_16_2

sea_surface_height_above_geoid_16 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_16 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [28]:
# MAM   17
date_17_1 = 8825
date_17_2 = 8917
data_1 = date_17_1
data_2 = date_17_2

sea_surface_height_above_geoid_17 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_17 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [29]:
# MAM   18
date_18_1 = 9190
date_18_2 = 9280
data_1 = date_18_1
data_2 = date_18_2

sea_surface_height_above_geoid_18 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_18 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [30]:
# MAM   19
date_19_1 = 9542
date_19_2 = 9633
data_1 = date_19_1
data_2 = date_19_2

sea_surface_height_above_geoid_19 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_19 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [31]:
sea_surface_height_above_geoid_93_19 = np.concatenate((sea_surface_height_above_geoid_93,
                                                      sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95,
                                                      sea_surface_height_above_geoid_96, sea_surface_height_above_geoid_97,
                                                      sea_surface_height_above_geoid_98, sea_surface_height_above_geoid_99,
                                                      sea_surface_height_above_geoid_00,
                                                      sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                      sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                      sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                      sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                      sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                      sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                      sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                      sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                      sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                      sea_surface_height_above_geoid_19),axis = 0)

In [32]:
sea_surface_height_above_sea_level_93_19 = np.concatenate((
sea_surface_height_above_sea_level_93, sea_surface_height_above_sea_level_94,
sea_surface_height_above_sea_level_95, sea_surface_height_above_sea_level_96,
sea_surface_height_above_sea_level_97, sea_surface_height_above_sea_level_98,
sea_surface_height_above_sea_level_99, sea_surface_height_above_sea_level_00,
sea_surface_height_above_sea_level_01, sea_surface_height_above_sea_level_02,
sea_surface_height_above_sea_level_03, sea_surface_height_above_sea_level_04,
sea_surface_height_above_sea_level_05, sea_surface_height_above_sea_level_06,
sea_surface_height_above_sea_level_07, sea_surface_height_above_sea_level_08,
sea_surface_height_above_sea_level_09, sea_surface_height_above_sea_level_10,
sea_surface_height_above_sea_level_11, sea_surface_height_above_sea_level_12,
sea_surface_height_above_sea_level_13, sea_surface_height_above_sea_level_14,
sea_surface_height_above_sea_level_15, sea_surface_height_above_sea_level_16,
sea_surface_height_above_sea_level_17, sea_surface_height_above_sea_level_18,
sea_surface_height_above_sea_level_19),axis = 0)

In [33]:
np.savez(r'D:\heat_wave\WEIO\expand_WEIO\other_variables\SSH\MAM_SSH.npz',
        sea_surface_height_above_geoid =  sea_surface_height_above_geoid_93_19,
        sea_surface_height_above_sea_level = sea_surface_height_above_sea_level_93_19)

In [34]:
sea_surface_height_above_sea_level_93_19.shape

(2478, 65, 49)

In [35]:
sea_surface_height_above_geoid_93_19.shape

(2478, 65, 49)