In [1]:
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
data = np.load(r'D:\博士工作\第三篇论文_MHW_AI\data\pacific\last\low_cloud\low_cloud_cover_pacific_chazhi.npz')
print(data.files) # ['sst_obser', 'slfh', 'sshf', 'ssr', 'str', 'mld', 'analysis_temp', 'u', 'v', 'T_d', 'u_d', 'v_d', 'xx', 'yy', 'dT_dt', 'dT_dx', 'dT_dy']

['lat', 'lon', 'low_cloud_cover']

In [3]:
low_cloud_cover = data['low_cloud_cover'][:]
low_cloud_cover.shape

(9861, 41, 201)

In [4]:
data1 = np.load(r'D:\博士工作\第三篇论文_MHW_AI\data\pacific\last\low_cloud\potential_evaporation_pacific_chazhi.npz')
print(data1.files) # ['sst_obser', 'slfh', 'sshf', 'ssr', 'str', 'mld', 'analysis_temp', 'u', 'v', 'T_d', 'u_d', 'v_d', 'xx', 'yy', 'dT_dt', 'dT_dx', 'dT_dy']

['lat', 'lon', 'potential_evaporation']

In [5]:
potential_evaporation = data1['potential_evaporation'][:]
potential_evaporation.shape

(9861, 41, 201)

In [6]:
sea_surface_height_above_geoid = low_cloud_cover
sea_surface_height_above_sea_level = potential_evaporation

In [7]:
# JJA   93
date_93_1 = 151
date_93_2 = 243
data_1 = date_93_1
data_2 = date_93_2

sea_surface_height_above_geoid_93 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_93 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [8]:
# JJA   94
date_94_1 = 516
date_94_2 = 608
data_1 = date_94_1
data_2 = date_94_2

sea_surface_height_above_geoid_94 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_94 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [9]:
# JJA   95
date_95_1 = 881
date_95_2 = 973
data_1 = date_95_1
data_2 = date_95_2

sea_surface_height_above_geoid_95 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_95 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [10]:
# JJA   96
date_96_1 = 1247
date_96_2 = 1339
data_1 = date_96_1
data_2 = date_96_2

sea_surface_height_above_geoid_96 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_96 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [11]:
# JJA   97
date_97_1 = 1612
date_97_2 = 1704
data_1 = date_97_1
data_2 = date_97_2

sea_surface_height_above_geoid_97 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_97 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [12]:
# JJA   98
date_98_1 = 1977
date_98_2 = 2069
data_1 = date_98_1
data_2 = date_98_2

sea_surface_height_above_geoid_98 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_98 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [13]:
# JJA   99
date_99_1 = 2324
date_99_2 = 2434
data_1 = date_99_1
data_2 = date_99_2

sea_surface_height_above_geoid_99 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_99 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [14]:
# JJA   00
date_00_1 = 2708
date_00_2 = 2799
data_1 = date_00_1
data_2 = date_00_2

sea_surface_height_above_geoid_00 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_00 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [15]:
# JJA   01
date_01_1 = 3073
date_01_2 = 3165
data_1 = date_01_1
data_2 = date_01_2

sea_surface_height_above_geoid_01 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_01 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [16]:
# JJA   02
date_02_1 = 3438
date_02_2 = 3529
data_1 = date_02_1
data_2 = date_02_2

sea_surface_height_above_geoid_02 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_02 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [17]:
# JJA   03
date_03_1 = 3803
date_03_2 = 3895
data_1 = date_03_1
data_2 = date_03_2

sea_surface_height_above_geoid_03 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_03 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [18]:
# JJA   04
date_04_1 = 4169
date_04_2 = 4261
data_1 = date_04_1
data_2 = date_04_2

sea_surface_height_above_geoid_04 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_04 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [19]:
# JJA   05
date_05_1 = 4534
date_05_2 = 4626
data_1 = date_05_1
data_2 = date_05_2

sea_surface_height_above_geoid_05 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_05 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [20]:
# JJA   06
date_06_1 = 4899
date_06_2 = 4990
data_1 = date_06_1
data_2 = date_06_2

sea_surface_height_above_geoid_06 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_06 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [21]:
# JJA   07
date_07_1 = 5264
date_07_2 = 5356
data_1 = date_07_1
data_2 = date_07_2

sea_surface_height_above_geoid_07 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_07 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [22]:
# JJA   08
date_08_1 = 5630
date_08_2 = 5722
data_1 = date_08_1
data_2 = date_08_2

sea_surface_height_above_geoid_08 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_08 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [23]:
# JJA   09
date_09_1 = 5995
date_09_2 = 6087
data_1 = date_09_1
data_2 = date_09_2

sea_surface_height_above_geoid_09 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_09 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [24]:
# JJA   10
date_10_1 = 6360
date_10_2 = 6452
data_1 = date_10_1
data_2 = date_10_2

sea_surface_height_above_geoid_10 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_10 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [25]:
# JJA   11
date_11_1 = 6725
date_11_2 = 6817
data_1 = date_11_1
data_2 = date_11_2

sea_surface_height_above_geoid_11 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_11 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [26]:
# JJA   12
date_12_1 = 7091
date_12_2 = 7183
data_1 = date_12_1
data_2 = date_12_2

sea_surface_height_above_geoid_12 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_12 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [27]:
# JJA   13
date_13_1 = 7456
date_13_2 = 7548
data_1 = date_13_1
data_2 = date_13_2

sea_surface_height_above_geoid_13 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_13 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [28]:
# JJA   14
date_14_1 = 7821
date_14_2 = 7913
data_1 = date_14_1
data_2 = date_14_2

sea_surface_height_above_geoid_14 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_14 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [29]:
# JJA   15
date_15_1 = 8186
date_15_2 = 8278
data_1 = date_15_1
data_2 = date_15_2

sea_surface_height_above_geoid_15 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_15 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [30]:
# JJA   16
date_16_1 = 8552
date_16_2 = 8644
data_1 = date_16_1
data_2 = date_16_2

sea_surface_height_above_geoid_16 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_16 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [31]:
# JJA   17
date_17_1 = 8917
date_17_2 = 9009
data_1 = date_17_1
data_2 = date_17_2

sea_surface_height_above_geoid_17 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_17 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [32]:
# JJA   18
date_18_1 = 9282
date_18_2 = 9374
data_1 = date_18_1
data_2 = date_18_2

sea_surface_height_above_geoid_18 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_18 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [33]:
# JJA   19
date_19_1 = 9647
date_19_2 = 9739
data_1 = date_19_1
data_2 = date_19_2

sea_surface_height_above_geoid_19 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_19 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [34]:
sea_surface_height_above_geoid_19.shape

(92, 41, 201)

In [35]:
sea_surface_height_above_geoid_93_mean = np.mean((sea_surface_height_above_geoid_93), axis = (0,1,2)).reshape(-1,1)

In [36]:
sea_surface_height_above_geoid_94_mean = np.mean((sea_surface_height_above_geoid_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_95_mean = np.mean((sea_surface_height_above_geoid_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_96_mean = np.mean((sea_surface_height_above_geoid_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_97_mean = np.mean((sea_surface_height_above_geoid_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_98_mean = np.mean((sea_surface_height_above_geoid_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_99_mean = np.mean((sea_surface_height_above_geoid_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_00_mean = np.mean((sea_surface_height_above_geoid_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_01_mean = np.mean((sea_surface_height_above_geoid_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_02_mean = np.mean((sea_surface_height_above_geoid_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_03_mean = np.mean((sea_surface_height_above_geoid_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_04_mean = np.mean((sea_surface_height_above_geoid_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_05_mean = np.mean((sea_surface_height_above_geoid_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_06_mean = np.mean((sea_surface_height_above_geoid_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_07_mean = np.mean((sea_surface_height_above_geoid_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_08_mean = np.mean((sea_surface_height_above_geoid_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_09_mean = np.mean((sea_surface_height_above_geoid_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_10_mean = np.mean((sea_surface_height_above_geoid_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_11_mean = np.mean((sea_surface_height_above_geoid_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_12_mean = np.mean((sea_surface_height_above_geoid_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_13_mean = np.mean((sea_surface_height_above_geoid_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_14_mean = np.mean((sea_surface_height_above_geoid_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_15_mean = np.mean((sea_surface_height_above_geoid_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_16_mean = np.mean((sea_surface_height_above_geoid_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_17_mean = np.mean((sea_surface_height_above_geoid_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_18_mean = np.mean((sea_surface_height_above_geoid_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_19_mean = np.mean((sea_surface_height_above_geoid_19), axis = (0,1,2)).reshape(-1,1)

In [37]:
sea_surface_height_above_geoid_93_19_mean = np.concatenate((sea_surface_height_above_geoid_93,
sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95, sea_surface_height_above_geoid_96,
                                                           sea_surface_height_above_geoid_97, sea_surface_height_above_geoid_98,
                                                           sea_surface_height_above_geoid_99, sea_surface_height_above_geoid_00,
                                                           sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                           sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                           sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                           sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                           sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                           sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                           sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                           sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                           sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                           sea_surface_height_above_geoid_19), axis = 0)

In [38]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19_mean), axis = (1,2))

In [39]:
sea_surface_height_above_geoid_93_19_mean_all = np.concatenate((sea_surface_height_above_geoid_93_mean,
sea_surface_height_above_geoid_94_mean, sea_surface_height_above_geoid_95_mean, 
                                                                sea_surface_height_above_geoid_96_mean,
                                                           sea_surface_height_above_geoid_97_mean, sea_surface_height_above_geoid_98_mean,
                                                           sea_surface_height_above_geoid_99_mean, sea_surface_height_above_geoid_00_mean,
                                                           sea_surface_height_above_geoid_01_mean, sea_surface_height_above_geoid_02_mean,
                                                           sea_surface_height_above_geoid_03_mean, sea_surface_height_above_geoid_04_mean,
                                                           sea_surface_height_above_geoid_05_mean, sea_surface_height_above_geoid_06_mean,
                                                           sea_surface_height_above_geoid_07_mean, sea_surface_height_above_geoid_08_mean,
                                                           sea_surface_height_above_geoid_09_mean, sea_surface_height_above_geoid_10_mean,
                                                           sea_surface_height_above_geoid_11_mean, sea_surface_height_above_geoid_12_mean,
                                                           sea_surface_height_above_geoid_13_mean, sea_surface_height_above_geoid_14_mean,
                                                           sea_surface_height_above_geoid_15_mean, sea_surface_height_above_geoid_16_mean,
                                                           sea_surface_height_above_geoid_17_mean, sea_surface_height_above_geoid_18_mean,
                                                           sea_surface_height_above_geoid_19_mean), axis = 0)

In [40]:
sea_surface_height_above_geoid_93_19_mean_all.shape

(27, 1)

In [41]:
sea_surface_height_above_sea_level_93_mean = np.mean((sea_surface_height_above_sea_level_93), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_94_mean = np.mean((sea_surface_height_above_sea_level_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_95_mean = np.mean((sea_surface_height_above_sea_level_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_96_mean = np.mean((sea_surface_height_above_sea_level_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_97_mean = np.mean((sea_surface_height_above_sea_level_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_98_mean = np.mean((sea_surface_height_above_sea_level_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_99_mean = np.mean((sea_surface_height_above_sea_level_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_00_mean = np.mean((sea_surface_height_above_sea_level_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_01_mean = np.mean((sea_surface_height_above_sea_level_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_02_mean = np.mean((sea_surface_height_above_sea_level_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_03_mean = np.mean((sea_surface_height_above_sea_level_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_04_mean = np.mean((sea_surface_height_above_sea_level_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_05_mean = np.mean((sea_surface_height_above_sea_level_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_06_mean = np.mean((sea_surface_height_above_sea_level_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_07_mean = np.mean((sea_surface_height_above_sea_level_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_08_mean = np.mean((sea_surface_height_above_sea_level_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_09_mean = np.mean((sea_surface_height_above_sea_level_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_10_mean = np.mean((sea_surface_height_above_sea_level_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_11_mean = np.mean((sea_surface_height_above_sea_level_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_12_mean = np.mean((sea_surface_height_above_sea_level_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_13_mean = np.mean((sea_surface_height_above_sea_level_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_14_mean = np.mean((sea_surface_height_above_sea_level_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_15_mean = np.mean((sea_surface_height_above_sea_level_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_16_mean = np.mean((sea_surface_height_above_sea_level_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_17_mean = np.mean((sea_surface_height_above_sea_level_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_18_mean = np.mean((sea_surface_height_above_sea_level_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_19_mean = np.mean((sea_surface_height_above_sea_level_19), axis = (0,1,2)).reshape(-1,1)

In [42]:
sea_surface_height_above_sea_level_93_19_mean_all = np.concatenate((
sea_surface_height_above_sea_level_93_mean, sea_surface_height_above_sea_level_94_mean,
sea_surface_height_above_sea_level_95_mean, sea_surface_height_above_sea_level_96_mean,
sea_surface_height_above_sea_level_97_mean, sea_surface_height_above_sea_level_98_mean,
sea_surface_height_above_sea_level_99_mean, sea_surface_height_above_sea_level_00_mean,
sea_surface_height_above_sea_level_01_mean, sea_surface_height_above_sea_level_02_mean,
sea_surface_height_above_sea_level_03_mean, sea_surface_height_above_sea_level_04_mean,
sea_surface_height_above_sea_level_05_mean, sea_surface_height_above_sea_level_06_mean,
sea_surface_height_above_sea_level_07_mean, sea_surface_height_above_sea_level_08_mean,
sea_surface_height_above_sea_level_09_mean, sea_surface_height_above_sea_level_10_mean,
sea_surface_height_above_sea_level_11_mean, sea_surface_height_above_sea_level_12_mean,
sea_surface_height_above_sea_level_13_mean, sea_surface_height_above_sea_level_14_mean,
sea_surface_height_above_sea_level_15_mean, sea_surface_height_above_sea_level_16_mean,
sea_surface_height_above_sea_level_17_mean, sea_surface_height_above_sea_level_18_mean,
sea_surface_height_above_sea_level_19_mean), axis = 0)

In [43]:
sea_surface_height_above_geoid_93_19_mean_all.shape

(27, 1)

In [44]:
sea_surface_height_above_geoid_93_19 = np.concatenate((sea_surface_height_above_geoid_93,
                                                      sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95,
                                                      sea_surface_height_above_geoid_96, sea_surface_height_above_geoid_97,
                                                      sea_surface_height_above_geoid_98, sea_surface_height_above_geoid_99,
                                                      sea_surface_height_above_geoid_00,
                                                      sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                      sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                      sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                      sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                      sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                      sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                      sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                      sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                      sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                      sea_surface_height_above_geoid_19),axis = 0)

In [45]:
sea_surface_height_above_sea_level_93_19 = np.concatenate((sea_surface_height_above_sea_level_93,
sea_surface_height_above_sea_level_94, sea_surface_height_above_sea_level_95,
                                                          sea_surface_height_above_sea_level_96, sea_surface_height_above_sea_level_97,
                                                          sea_surface_height_above_sea_level_98, sea_surface_height_above_sea_level_99,
                                                          sea_surface_height_above_sea_level_00, sea_surface_height_above_sea_level_01,
                                                          sea_surface_height_above_sea_level_02, sea_surface_height_above_sea_level_03,
                                                          sea_surface_height_above_sea_level_04, sea_surface_height_above_sea_level_05,
                                                          sea_surface_height_above_sea_level_06, sea_surface_height_above_sea_level_07,
                                                          sea_surface_height_above_sea_level_08, sea_surface_height_above_sea_level_09,
                                                          sea_surface_height_above_sea_level_10, sea_surface_height_above_sea_level_11,
                                                          sea_surface_height_above_sea_level_12, sea_surface_height_above_sea_level_13,
                                                          sea_surface_height_above_sea_level_14, sea_surface_height_above_sea_level_15,
                                                          sea_surface_height_above_sea_level_16, sea_surface_height_above_sea_level_17,
                                                          sea_surface_height_above_sea_level_18, sea_surface_height_above_sea_level_19),axis = 0)

In [46]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19), axis = (1,2)).reshape(-1,1)

In [47]:
sea_surface_height_above_geoid_93_19_mean.shape

(2499, 1)

In [48]:
sea_surface_height_above_sea_level_93_19_mean = np.mean((sea_surface_height_above_sea_level_93_19), axis = (1,2)).reshape(-1,1)

In [49]:
sea_surface_height_above_sea_level_93_19_mean.shape

(2499, 1)

In [50]:
sea_surface_height_above_geoid_JJA_93 = sea_surface_height_above_geoid_93_19_mean[:92]
sea_surface_height_above_geoid_JJA_94 = sea_surface_height_above_geoid_93_19_mean[92:184]
sea_surface_height_above_geoid_JJA_95 = sea_surface_height_above_geoid_93_19_mean[184:276]
sea_surface_height_above_geoid_JJA_96 = sea_surface_height_above_geoid_93_19_mean[276:368]
sea_surface_height_above_geoid_JJA_97 = sea_surface_height_above_geoid_93_19_mean[368:460]
sea_surface_height_above_geoid_JJA_98_1 = sea_surface_height_above_geoid_93_19_mean[460:463]
sea_surface_height_above_geoid_JJA_98_2 = sea_surface_height_above_geoid_93_19_mean[469:552]
sea_surface_height_above_geoid_JJA_98 = np.concatenate((sea_surface_height_above_geoid_JJA_98_1, sea_surface_height_above_geoid_JJA_98_2), axis = 0)
sea_surface_height_above_geoid_JJA_99 = sea_surface_height_above_geoid_93_19_mean[552:644]
sea_surface_height_above_geoid_JJA_00 = sea_surface_height_above_geoid_93_19_mean[644:736]
sea_surface_height_above_geoid_JJA_01 = sea_surface_height_above_geoid_93_19_mean[736:828]
sea_surface_height_above_geoid_JJA_02 = sea_surface_height_above_geoid_93_19_mean[828:920]
sea_surface_height_above_geoid_JJA_03 = sea_surface_height_above_geoid_93_19_mean[920:1012]
sea_surface_height_above_geoid_JJA_04 = sea_surface_height_above_geoid_93_19_mean[1012:1104]
sea_surface_height_above_geoid_JJA_05 = sea_surface_height_above_geoid_93_19_mean[1104:1196]
sea_surface_height_above_geoid_JJA_06_1 = sea_surface_height_above_geoid_93_19_mean[1196:1282]
sea_surface_height_above_geoid_JJA_06_2 = sea_surface_height_above_geoid_93_19_mean[1287:1288]
sea_surface_height_above_geoid_JJA_06 = np.concatenate((sea_surface_height_above_geoid_JJA_06_1, sea_surface_height_above_geoid_JJA_06_2), axis = 0)
sea_surface_height_above_geoid_JJA_07_1 = sea_surface_height_above_geoid_93_19_mean[1288:1297]
sea_surface_height_above_geoid_JJA_07_2 = sea_surface_height_above_geoid_93_19_mean[1306:1380]
sea_surface_height_above_geoid_JJA_07 = np.concatenate((sea_surface_height_above_geoid_JJA_07_1, sea_surface_height_above_geoid_JJA_07_2), axis = 0)
sea_surface_height_above_geoid_JJA_08 = sea_surface_height_above_geoid_93_19_mean[1380:1472]
sea_surface_height_above_geoid_JJA_09 = sea_surface_height_above_geoid_93_19_mean[1472:1564]
sea_surface_height_above_geoid_JJA_10_1 = sea_surface_height_above_geoid_93_19_mean[1564:1604]
sea_surface_height_above_geoid_JJA_10_2 = sea_surface_height_above_geoid_93_19_mean[1612:1656]
sea_surface_height_above_geoid_JJA_10 = np.concatenate((sea_surface_height_above_geoid_JJA_10_1, sea_surface_height_above_geoid_JJA_10_2), axis = 0)
sea_surface_height_above_geoid_JJA_11 = sea_surface_height_above_geoid_93_19_mean[1656:1748]
sea_surface_height_above_geoid_JJA_12_1 = sea_surface_height_above_geoid_93_19_mean[1748:1807]
sea_surface_height_above_geoid_JJA_12_2 = sea_surface_height_above_geoid_93_19_mean[1820:1840]
sea_surface_height_above_geoid_JJA_12 = np.concatenate((sea_surface_height_above_geoid_JJA_12_1, sea_surface_height_above_geoid_JJA_12_2), axis = 0)
sea_surface_height_above_geoid_JJA_13 = sea_surface_height_above_geoid_93_19_mean[1840:1932]
sea_surface_height_above_geoid_JJA_14 = sea_surface_height_above_geoid_93_19_mean[1932:2024]
sea_surface_height_above_geoid_JJA_15_1 = sea_surface_height_above_geoid_93_19_mean[2032:2054]
sea_surface_height_above_geoid_JJA_15_2 = sea_surface_height_above_geoid_93_19_mean[2061:2081]
sea_surface_height_above_geoid_JJA_15 = np.concatenate((sea_surface_height_above_geoid_JJA_15_1, sea_surface_height_above_geoid_JJA_15_2), axis = 0)
sea_surface_height_above_geoid_JJA_16 = sea_surface_height_above_geoid_93_19_mean[2116:2208]
sea_surface_height_above_geoid_JJA_17_1 = sea_surface_height_above_geoid_93_19_mean[2208:2251]
sea_surface_height_above_geoid_JJA_17_2 = sea_surface_height_above_geoid_93_19_mean[2257:2264]
sea_surface_height_above_geoid_JJA_17 = np.concatenate((sea_surface_height_above_geoid_JJA_17_1, sea_surface_height_above_geoid_JJA_17_2), axis = 0)
sea_surface_height_above_geoid_JJA_18 = sea_surface_height_above_geoid_93_19_mean[2300:2392]
sea_surface_height_above_geoid_JJA_19_1 = sea_surface_height_above_geoid_93_19_mean[2410:2451]
sea_surface_height_above_geoid_JJA_19_2 = sea_surface_height_above_geoid_93_19_mean[2462:2472]
sea_surface_height_above_geoid_JJA_19_3 = sea_surface_height_above_geoid_93_19_mean[2478:]
sea_surface_height_above_geoid_JJA_19 = np.concatenate((sea_surface_height_above_geoid_JJA_19_1, sea_surface_height_above_geoid_JJA_19_2, sea_surface_height_above_geoid_JJA_19_3), axis = 0)

In [51]:
sea_surface_height_above_geoid_JJA_93_mean = np.mean(sea_surface_height_above_geoid_JJA_93, axis = 0)
sea_surface_height_above_geoid_JJA_94_mean = np.mean(sea_surface_height_above_geoid_JJA_94, axis = 0)
sea_surface_height_above_geoid_JJA_95_mean = np.mean(sea_surface_height_above_geoid_JJA_95, axis = 0)
sea_surface_height_above_geoid_JJA_96_mean = np.mean(sea_surface_height_above_geoid_JJA_96, axis = 0)
sea_surface_height_above_geoid_JJA_97_mean = np.mean(sea_surface_height_above_geoid_JJA_97, axis = 0)
sea_surface_height_above_geoid_JJA_98_mean = np.mean(sea_surface_height_above_geoid_JJA_98, axis = 0)
sea_surface_height_above_geoid_JJA_99_mean = np.mean(sea_surface_height_above_geoid_JJA_99, axis = 0)
sea_surface_height_above_geoid_JJA_00_mean = np.mean(sea_surface_height_above_geoid_JJA_00, axis = 0)
sea_surface_height_above_geoid_JJA_01_mean = np.mean(sea_surface_height_above_geoid_JJA_01, axis = 0)
sea_surface_height_above_geoid_JJA_02_mean = np.mean(sea_surface_height_above_geoid_JJA_02, axis = 0)
sea_surface_height_above_geoid_JJA_03_mean = np.mean(sea_surface_height_above_geoid_JJA_03, axis = 0)
sea_surface_height_above_geoid_JJA_04_mean = np.mean(sea_surface_height_above_geoid_JJA_04, axis = 0)
sea_surface_height_above_geoid_JJA_05_mean = np.mean(sea_surface_height_above_geoid_JJA_05, axis = 0)
sea_surface_height_above_geoid_JJA_06_mean = np.mean(sea_surface_height_above_geoid_JJA_06, axis = 0)
sea_surface_height_above_geoid_JJA_07_mean = np.mean(sea_surface_height_above_geoid_JJA_07, axis = 0)
sea_surface_height_above_geoid_JJA_08_mean = np.mean(sea_surface_height_above_geoid_JJA_08, axis = 0)
sea_surface_height_above_geoid_JJA_09_mean = np.mean(sea_surface_height_above_geoid_JJA_09, axis = 0)
sea_surface_height_above_geoid_JJA_10_mean = np.mean(sea_surface_height_above_geoid_JJA_10, axis = 0)
sea_surface_height_above_geoid_JJA_11_mean = np.mean(sea_surface_height_above_geoid_JJA_11, axis = 0)
sea_surface_height_above_geoid_JJA_12_mean = np.mean(sea_surface_height_above_geoid_JJA_12, axis = 0)
sea_surface_height_above_geoid_JJA_13_mean = np.mean(sea_surface_height_above_geoid_JJA_13, axis = 0)
sea_surface_height_above_geoid_JJA_14_mean = np.mean(sea_surface_height_above_geoid_JJA_14, axis = 0)
sea_surface_height_above_geoid_JJA_15_mean = np.mean(sea_surface_height_above_geoid_JJA_15, axis = 0)
sea_surface_height_above_geoid_JJA_16_mean = np.mean(sea_surface_height_above_geoid_JJA_16, axis = 0)
sea_surface_height_above_geoid_JJA_17_mean = np.mean(sea_surface_height_above_geoid_JJA_17, axis = 0)
sea_surface_height_above_geoid_JJA_18_mean = np.mean(sea_surface_height_above_geoid_JJA_18, axis = 0)
sea_surface_height_above_geoid_JJA_19_mean = np.mean(sea_surface_height_above_geoid_JJA_19, axis = 0)

In [52]:
sea_surface_height_above_geoid_JJA_93_19_without_MHW = np.concatenate((
sea_surface_height_above_geoid_JJA_93, sea_surface_height_above_geoid_JJA_94,
sea_surface_height_above_geoid_JJA_95, sea_surface_height_above_geoid_JJA_96,
sea_surface_height_above_geoid_JJA_97, sea_surface_height_above_geoid_JJA_98,
sea_surface_height_above_geoid_JJA_99, sea_surface_height_above_geoid_JJA_00,
sea_surface_height_above_geoid_JJA_01, sea_surface_height_above_geoid_JJA_02,
sea_surface_height_above_geoid_JJA_03, sea_surface_height_above_geoid_JJA_04,
sea_surface_height_above_geoid_JJA_05, sea_surface_height_above_geoid_JJA_06,
sea_surface_height_above_geoid_JJA_07, sea_surface_height_above_geoid_JJA_08,
sea_surface_height_above_geoid_JJA_09, sea_surface_height_above_geoid_JJA_10,
sea_surface_height_above_geoid_JJA_11, sea_surface_height_above_geoid_JJA_12,
sea_surface_height_above_geoid_JJA_13, sea_surface_height_above_geoid_JJA_14,
sea_surface_height_above_geoid_JJA_15, sea_surface_height_above_geoid_JJA_16,
sea_surface_height_above_geoid_JJA_17, sea_surface_height_above_geoid_JJA_18,
sea_surface_height_above_geoid_JJA_19), axis = 0)

In [53]:
sea_surface_height_above_geoid_JJA_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_geoid_JJA_93_mean, sea_surface_height_above_geoid_JJA_94_mean,
sea_surface_height_above_geoid_JJA_95_mean, sea_surface_height_above_geoid_JJA_96_mean,
sea_surface_height_above_geoid_JJA_97_mean, sea_surface_height_above_geoid_JJA_98_mean,
sea_surface_height_above_geoid_JJA_99_mean, sea_surface_height_above_geoid_JJA_00_mean,
sea_surface_height_above_geoid_JJA_01_mean, sea_surface_height_above_geoid_JJA_02_mean,
sea_surface_height_above_geoid_JJA_03_mean, sea_surface_height_above_geoid_JJA_04_mean,
sea_surface_height_above_geoid_JJA_05_mean, sea_surface_height_above_geoid_JJA_06_mean,
sea_surface_height_above_geoid_JJA_07_mean, sea_surface_height_above_geoid_JJA_08_mean,
sea_surface_height_above_geoid_JJA_09_mean, sea_surface_height_above_geoid_JJA_10_mean,
sea_surface_height_above_geoid_JJA_11_mean, sea_surface_height_above_geoid_JJA_12_mean,
sea_surface_height_above_geoid_JJA_13_mean, sea_surface_height_above_geoid_JJA_14_mean,
sea_surface_height_above_geoid_JJA_15_mean, sea_surface_height_above_geoid_JJA_16_mean,
sea_surface_height_above_geoid_JJA_17_mean, sea_surface_height_above_geoid_JJA_18_mean,
sea_surface_height_above_geoid_JJA_19_mean), axis = 0).reshape(-1,1)

In [54]:
sea_surface_height_above_sea_level_JJA_93 = sea_surface_height_above_sea_level_93_19_mean[:92]
sea_surface_height_above_sea_level_JJA_94 = sea_surface_height_above_sea_level_93_19_mean[92:184]
sea_surface_height_above_sea_level_JJA_95 = sea_surface_height_above_sea_level_93_19_mean[184:276]
sea_surface_height_above_sea_level_JJA_96 = sea_surface_height_above_sea_level_93_19_mean[276:368]
sea_surface_height_above_sea_level_JJA_97 = sea_surface_height_above_sea_level_93_19_mean[368:460]
sea_surface_height_above_sea_level_JJA_98_1 = sea_surface_height_above_sea_level_93_19_mean[460:463]
sea_surface_height_above_sea_level_JJA_98_2 = sea_surface_height_above_sea_level_93_19_mean[469:552]
sea_surface_height_above_sea_level_JJA_98 = np.concatenate((sea_surface_height_above_sea_level_JJA_98_1, sea_surface_height_above_sea_level_JJA_98_2), axis = 0)
sea_surface_height_above_sea_level_JJA_99 = sea_surface_height_above_sea_level_93_19_mean[552:644]
sea_surface_height_above_sea_level_JJA_00 = sea_surface_height_above_sea_level_93_19_mean[644:736]
sea_surface_height_above_sea_level_JJA_01 = sea_surface_height_above_sea_level_93_19_mean[736:828]
sea_surface_height_above_sea_level_JJA_02 = sea_surface_height_above_sea_level_93_19_mean[828:920]
sea_surface_height_above_sea_level_JJA_03 = sea_surface_height_above_sea_level_93_19_mean[920:1012]
sea_surface_height_above_sea_level_JJA_04 = sea_surface_height_above_sea_level_93_19_mean[1012:1104]
sea_surface_height_above_sea_level_JJA_05 = sea_surface_height_above_sea_level_93_19_mean[1104:1196]
sea_surface_height_above_sea_level_JJA_06_1 = sea_surface_height_above_sea_level_93_19_mean[1196:1282]
sea_surface_height_above_sea_level_JJA_06_2 = sea_surface_height_above_sea_level_93_19_mean[1287:1288]
sea_surface_height_above_sea_level_JJA_06 = np.concatenate((sea_surface_height_above_sea_level_JJA_06_1, sea_surface_height_above_sea_level_JJA_06_2), axis = 0)
sea_surface_height_above_sea_level_JJA_07_1 = sea_surface_height_above_sea_level_93_19_mean[1288:1297]
sea_surface_height_above_sea_level_JJA_07_2 = sea_surface_height_above_sea_level_93_19_mean[1306:1380]
sea_surface_height_above_sea_level_JJA_07 = np.concatenate((sea_surface_height_above_sea_level_JJA_07_1, sea_surface_height_above_sea_level_JJA_07_2), axis = 0)
sea_surface_height_above_sea_level_JJA_08 = sea_surface_height_above_sea_level_93_19_mean[1380:1472]
sea_surface_height_above_sea_level_JJA_09 = sea_surface_height_above_sea_level_93_19_mean[1472:1564]
sea_surface_height_above_sea_level_JJA_10_1 = sea_surface_height_above_sea_level_93_19_mean[1564:1604]
sea_surface_height_above_sea_level_JJA_10_2 = sea_surface_height_above_sea_level_93_19_mean[1612:1656]
sea_surface_height_above_sea_level_JJA_10 = np.concatenate((sea_surface_height_above_sea_level_JJA_10_1, sea_surface_height_above_sea_level_JJA_10_2), axis = 0)
sea_surface_height_above_sea_level_JJA_11 = sea_surface_height_above_sea_level_93_19_mean[1656:1748]
sea_surface_height_above_sea_level_JJA_12_1 = sea_surface_height_above_sea_level_93_19_mean[1748:1807]
sea_surface_height_above_sea_level_JJA_12_2 = sea_surface_height_above_sea_level_93_19_mean[1820:1840]
sea_surface_height_above_sea_level_JJA_12 = np.concatenate((sea_surface_height_above_sea_level_JJA_12_1, sea_surface_height_above_sea_level_JJA_12_2), axis = 0)
sea_surface_height_above_sea_level_JJA_13 = sea_surface_height_above_sea_level_93_19_mean[1840:1932]
sea_surface_height_above_sea_level_JJA_14 = sea_surface_height_above_sea_level_93_19_mean[1932:2024]
sea_surface_height_above_sea_level_JJA_15_1 = sea_surface_height_above_sea_level_93_19_mean[2032:2054]
sea_surface_height_above_sea_level_JJA_15_2 = sea_surface_height_above_sea_level_93_19_mean[2061:2081]
sea_surface_height_above_sea_level_JJA_15 = np.concatenate((sea_surface_height_above_sea_level_JJA_15_1, sea_surface_height_above_sea_level_JJA_15_2), axis = 0)
sea_surface_height_above_sea_level_JJA_16 = sea_surface_height_above_sea_level_93_19_mean[2116:2208]
sea_surface_height_above_sea_level_JJA_17_1 = sea_surface_height_above_sea_level_93_19_mean[2208:2251]
sea_surface_height_above_sea_level_JJA_17_2 = sea_surface_height_above_sea_level_93_19_mean[2257:2264]
sea_surface_height_above_sea_level_JJA_17 = np.concatenate((sea_surface_height_above_sea_level_JJA_17_1, sea_surface_height_above_sea_level_JJA_17_2), axis = 0)
sea_surface_height_above_sea_level_JJA_18 = sea_surface_height_above_sea_level_93_19_mean[2300:2392]
sea_surface_height_above_sea_level_JJA_19_1 = sea_surface_height_above_sea_level_93_19_mean[2410:2451]
sea_surface_height_above_sea_level_JJA_19_2 = sea_surface_height_above_sea_level_93_19_mean[2462:2472]
sea_surface_height_above_sea_level_JJA_19_3 = sea_surface_height_above_sea_level_93_19_mean[2478:]
sea_surface_height_above_sea_level_JJA_19 = np.concatenate((sea_surface_height_above_sea_level_JJA_19_1, sea_surface_height_above_sea_level_JJA_19_2, sea_surface_height_above_sea_level_JJA_19_3), axis = 0)

In [55]:
sea_surface_height_above_sea_level_JJA_93_mean = np.mean(sea_surface_height_above_sea_level_JJA_93, axis = 0)
sea_surface_height_above_sea_level_JJA_94_mean = np.mean(sea_surface_height_above_sea_level_JJA_94, axis = 0)
sea_surface_height_above_sea_level_JJA_95_mean = np.mean(sea_surface_height_above_sea_level_JJA_95, axis = 0)
sea_surface_height_above_sea_level_JJA_96_mean = np.mean(sea_surface_height_above_sea_level_JJA_96, axis = 0)
sea_surface_height_above_sea_level_JJA_97_mean = np.mean(sea_surface_height_above_sea_level_JJA_97, axis = 0)
sea_surface_height_above_sea_level_JJA_98_mean = np.mean(sea_surface_height_above_sea_level_JJA_98, axis = 0)
sea_surface_height_above_sea_level_JJA_99_mean = np.mean(sea_surface_height_above_sea_level_JJA_99, axis = 0)
sea_surface_height_above_sea_level_JJA_00_mean = np.mean(sea_surface_height_above_sea_level_JJA_00, axis = 0)
sea_surface_height_above_sea_level_JJA_01_mean = np.mean(sea_surface_height_above_sea_level_JJA_01, axis = 0)
sea_surface_height_above_sea_level_JJA_02_mean = np.mean(sea_surface_height_above_sea_level_JJA_02, axis = 0)
sea_surface_height_above_sea_level_JJA_03_mean = np.mean(sea_surface_height_above_sea_level_JJA_03, axis = 0)
sea_surface_height_above_sea_level_JJA_04_mean = np.mean(sea_surface_height_above_sea_level_JJA_04, axis = 0)
sea_surface_height_above_sea_level_JJA_05_mean = np.mean(sea_surface_height_above_sea_level_JJA_05, axis = 0)
sea_surface_height_above_sea_level_JJA_06_mean = np.mean(sea_surface_height_above_sea_level_JJA_06, axis = 0)
sea_surface_height_above_sea_level_JJA_07_mean = np.mean(sea_surface_height_above_sea_level_JJA_07, axis = 0)
sea_surface_height_above_sea_level_JJA_08_mean = np.mean(sea_surface_height_above_sea_level_JJA_08, axis = 0)
sea_surface_height_above_sea_level_JJA_09_mean = np.mean(sea_surface_height_above_sea_level_JJA_09, axis = 0)
sea_surface_height_above_sea_level_JJA_10_mean = np.mean(sea_surface_height_above_sea_level_JJA_10, axis = 0)
sea_surface_height_above_sea_level_JJA_11_mean = np.mean(sea_surface_height_above_sea_level_JJA_11, axis = 0)
sea_surface_height_above_sea_level_JJA_12_mean = np.mean(sea_surface_height_above_sea_level_JJA_12, axis = 0)
sea_surface_height_above_sea_level_JJA_13_mean = np.mean(sea_surface_height_above_sea_level_JJA_13, axis = 0)
sea_surface_height_above_sea_level_JJA_14_mean = np.mean(sea_surface_height_above_sea_level_JJA_14, axis = 0)
sea_surface_height_above_sea_level_JJA_15_mean = np.mean(sea_surface_height_above_sea_level_JJA_15, axis = 0)
sea_surface_height_above_sea_level_JJA_16_mean = np.mean(sea_surface_height_above_sea_level_JJA_16, axis = 0)
sea_surface_height_above_sea_level_JJA_17_mean = np.mean(sea_surface_height_above_sea_level_JJA_17, axis = 0)
sea_surface_height_above_sea_level_JJA_18_mean = np.mean(sea_surface_height_above_sea_level_JJA_18, axis = 0)
sea_surface_height_above_sea_level_JJA_19_mean = np.mean(sea_surface_height_above_sea_level_JJA_19, axis = 0)

In [56]:
sea_surface_height_above_sea_level_JJA_93_19_without_MHW = np.concatenate((
sea_surface_height_above_sea_level_JJA_93, sea_surface_height_above_sea_level_JJA_94,
sea_surface_height_above_sea_level_JJA_95, sea_surface_height_above_sea_level_JJA_96,
sea_surface_height_above_sea_level_JJA_97, sea_surface_height_above_sea_level_JJA_98,
sea_surface_height_above_sea_level_JJA_99, sea_surface_height_above_sea_level_JJA_00,
sea_surface_height_above_sea_level_JJA_01, sea_surface_height_above_sea_level_JJA_02,
sea_surface_height_above_sea_level_JJA_03, sea_surface_height_above_sea_level_JJA_04,
sea_surface_height_above_sea_level_JJA_05, sea_surface_height_above_sea_level_JJA_06,
sea_surface_height_above_sea_level_JJA_07, sea_surface_height_above_sea_level_JJA_08,
sea_surface_height_above_sea_level_JJA_09, sea_surface_height_above_sea_level_JJA_10,
sea_surface_height_above_sea_level_JJA_11, sea_surface_height_above_sea_level_JJA_12,
sea_surface_height_above_sea_level_JJA_13, sea_surface_height_above_sea_level_JJA_14,
sea_surface_height_above_sea_level_JJA_15, sea_surface_height_above_sea_level_JJA_16,
sea_surface_height_above_sea_level_JJA_17, sea_surface_height_above_sea_level_JJA_18,
sea_surface_height_above_sea_level_JJA_19), axis = 0)

In [57]:
sea_surface_height_above_sea_level_JJA_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_sea_level_JJA_93_mean, sea_surface_height_above_sea_level_JJA_94_mean,
sea_surface_height_above_sea_level_JJA_95_mean, sea_surface_height_above_sea_level_JJA_96_mean,
sea_surface_height_above_sea_level_JJA_97_mean, sea_surface_height_above_sea_level_JJA_98_mean,
sea_surface_height_above_sea_level_JJA_99_mean, sea_surface_height_above_sea_level_JJA_00_mean,
sea_surface_height_above_sea_level_JJA_01_mean, sea_surface_height_above_sea_level_JJA_02_mean,
sea_surface_height_above_sea_level_JJA_03_mean, sea_surface_height_above_sea_level_JJA_04_mean,
sea_surface_height_above_sea_level_JJA_05_mean, sea_surface_height_above_sea_level_JJA_06_mean,
sea_surface_height_above_sea_level_JJA_07_mean, sea_surface_height_above_sea_level_JJA_08_mean,
sea_surface_height_above_sea_level_JJA_09_mean, sea_surface_height_above_sea_level_JJA_10_mean,
sea_surface_height_above_sea_level_JJA_11_mean, sea_surface_height_above_sea_level_JJA_12_mean,
sea_surface_height_above_sea_level_JJA_13_mean, sea_surface_height_above_sea_level_JJA_14_mean,
sea_surface_height_above_sea_level_JJA_15_mean, sea_surface_height_above_sea_level_JJA_16_mean,
sea_surface_height_above_sea_level_JJA_17_mean, sea_surface_height_above_sea_level_JJA_18_mean,
sea_surface_height_above_sea_level_JJA_19_mean), axis = 0).reshape(-1,1)

In [58]:
sea_surface_height_above_geoid_JJA_93_19_without_MHW_mean.shape

(27, 1)

In [60]:
sea_surface_height_above_sea_level_93_19_mean_all.shape

(27, 1)

In [61]:
np.savez(r'D:\博士工作\第三篇论文_MHW_AI\data\pacific\last\low_cloud\E_P_cloud_JJA_Plot_with_without_MHW.npz',
        low_cloud_cover_JJA_93_19_with_MHW_mean = sea_surface_height_above_geoid_93_19_mean_all,
         E_JJA_93_19_with_MHW_mean = sea_surface_height_above_sea_level_93_19_mean_all,
        low_cloud_cover_JJA_93_19_without_MHW_mean = sea_surface_height_above_geoid_JJA_93_19_without_MHW_mean,
        E_JJA_93_19_without_MHW_mean = sea_surface_height_above_sea_level_JJA_93_19_without_MHW_mean)

In [62]:
sea_surface_height_above_geoid = low_cloud_cover
sea_surface_height_above_sea_level = potential_evaporation

In [63]:
# MAM   93
date_93_1 = 59
date_93_2 = 151
data_1 = date_93_1
data_2 = date_93_2

sea_surface_height_above_geoid_93 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_93 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [64]:
# MAM   94
date_94_1 = 424
date_94_2 = 516
data_1 = date_94_1
data_2 = date_94_2

sea_surface_height_above_geoid_94 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_94 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [65]:
# MAM   95
date_95_1 = 789
date_95_2 = 881
data_1 = date_95_1
data_2 = date_95_2

sea_surface_height_above_geoid_95 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_95 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [66]:
# MAM   96
date_96_1 = 1155
date_96_2 = 1247
data_1 = date_96_1
data_2 = date_96_2

sea_surface_height_above_geoid_96 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_96 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [67]:
# MAM   97
date_97_1 = 1520
date_97_2 = 1611
data_1 = date_97_1
data_2 = date_97_2

sea_surface_height_above_geoid_97 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_97 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [68]:
# MAM   98
date_98_1 = 1885
date_98_2 = 1977
data_1 = date_98_1
data_2 = date_98_2

sea_surface_height_above_geoid_98 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_98 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [69]:
# MAM   99
date_99_1 = 2250
date_99_2 = 2342
data_1 = date_99_1
data_2 = date_99_2

sea_surface_height_above_geoid_99 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_99 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [70]:
# MAM   00
date_00_1 = 2616
date_00_2 = 2708
data_1 = date_00_1
data_2 = date_00_2

sea_surface_height_above_geoid_00 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_00 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [71]:
# MAM   01
date_01_1 = 2981
date_01_2 = 3073
data_1 = date_01_1
data_2 = date_01_2

sea_surface_height_above_geoid_01 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_01 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [72]:
# MAM   02
date_02_1 = 3346
date_02_2 = 3438
data_1 = date_02_1
data_2 = date_02_2

sea_surface_height_above_geoid_02 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_02 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [73]:
# MAM   03
date_03_1 = 3711
date_03_2 = 3803
data_1 = date_03_1
data_2 = date_03_2

sea_surface_height_above_geoid_03 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_03 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [74]:
# MAM   04
date_04_1 = 4077
date_04_2 = 4169
data_1 = date_04_1
data_2 = date_04_2

sea_surface_height_above_geoid_04 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_04 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [75]:
# MAM   05
date_05_1 = 4442
date_05_2 = 4534
data_1 = date_05_1
data_2 = date_05_2

sea_surface_height_above_geoid_05 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_05 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [76]:
# MAM   06
date_06_1 = 4807
date_06_2 = 4899
data_1 = date_06_1
data_2 = date_06_2

sea_surface_height_above_geoid_06 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_06 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [77]:
# MAM   07
date_07_1 = 5172
date_07_2 = 5264
data_1 = date_07_1
data_2 = date_07_2

sea_surface_height_above_geoid_07 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_07 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [78]:
# MAM   08
date_08_1 = 5538
date_08_2 = 5630
data_1 = date_08_1
data_2 = date_08_2

sea_surface_height_above_geoid_08 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_08 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [79]:
# MAM   09
date_09_1 = 5903
date_09_2 = 5995
data_1 = date_09_1
data_2 = date_09_2

sea_surface_height_above_geoid_09 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_09 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [80]:
# MAM   10
date_10_1 = 6268
date_10_2 = 6360
data_1 = date_10_1
data_2 = date_10_2

sea_surface_height_above_geoid_10 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_10 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [81]:
# MAM   11
date_11_1 = 6633
date_11_2 = 6725
data_1 = date_11_1
data_2 = date_11_2

sea_surface_height_above_geoid_11 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_11 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [82]:
# MAM   12
date_12_1 = 6999
date_12_2 = 7091
data_1 = date_12_1
data_2 = date_12_2

sea_surface_height_above_geoid_12 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_12 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [83]:
# MAM   13
date_13_1 = 7364
date_13_2 = 7455
data_1 = date_13_1
data_2 = date_13_2

sea_surface_height_above_geoid_13 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_13 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [84]:
# MAM   14
date_14_1 = 7729
date_14_2 = 7821
data_1 = date_14_1
data_2 = date_14_2

sea_surface_height_above_geoid_14 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_14 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [85]:
# MAM   15
date_15_1 = 8094
date_15_2 = 8185
data_1 = date_15_1
data_2 = date_15_2

sea_surface_height_above_geoid_15 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_15 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [86]:
# MAM   16
date_16_1 = 8460
date_16_2 = 8552
data_1 = date_16_1
data_2 = date_16_2

sea_surface_height_above_geoid_16 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_16 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [87]:
# MAM   17
date_17_1 = 8825
date_17_2 = 8917
data_1 = date_17_1
data_2 = date_17_2

sea_surface_height_above_geoid_17 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_17 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [88]:
# MAM   18
date_18_1 = 9190
date_18_2 = 9280
data_1 = date_18_1
data_2 = date_18_2

sea_surface_height_above_geoid_18 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_18 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [89]:
# MAM   19
date_19_1 = 9542
date_19_2 = 9633
data_1 = date_19_1
data_2 = date_19_2

sea_surface_height_above_geoid_19 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_19 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [90]:
sea_surface_height_above_geoid_93_mean = np.mean((sea_surface_height_above_geoid_93), axis = (0,1,2)).reshape(-1,1)

In [91]:
sea_surface_height_above_geoid_94_mean = np.mean((sea_surface_height_above_geoid_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_95_mean = np.mean((sea_surface_height_above_geoid_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_96_mean = np.mean((sea_surface_height_above_geoid_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_97_mean = np.mean((sea_surface_height_above_geoid_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_98_mean = np.mean((sea_surface_height_above_geoid_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_99_mean = np.mean((sea_surface_height_above_geoid_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_00_mean = np.mean((sea_surface_height_above_geoid_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_01_mean = np.mean((sea_surface_height_above_geoid_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_02_mean = np.mean((sea_surface_height_above_geoid_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_03_mean = np.mean((sea_surface_height_above_geoid_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_04_mean = np.mean((sea_surface_height_above_geoid_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_05_mean = np.mean((sea_surface_height_above_geoid_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_06_mean = np.mean((sea_surface_height_above_geoid_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_07_mean = np.mean((sea_surface_height_above_geoid_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_08_mean = np.mean((sea_surface_height_above_geoid_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_09_mean = np.mean((sea_surface_height_above_geoid_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_10_mean = np.mean((sea_surface_height_above_geoid_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_11_mean = np.mean((sea_surface_height_above_geoid_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_12_mean = np.mean((sea_surface_height_above_geoid_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_13_mean = np.mean((sea_surface_height_above_geoid_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_14_mean = np.mean((sea_surface_height_above_geoid_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_15_mean = np.mean((sea_surface_height_above_geoid_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_16_mean = np.mean((sea_surface_height_above_geoid_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_17_mean = np.mean((sea_surface_height_above_geoid_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_18_mean = np.mean((sea_surface_height_above_geoid_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_19_mean = np.mean((sea_surface_height_above_geoid_19), axis = (0,1,2)).reshape(-1,1)

In [92]:
sea_surface_height_above_geoid_93_19_mean = np.concatenate((sea_surface_height_above_geoid_93,
sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95, sea_surface_height_above_geoid_96,
                                                           sea_surface_height_above_geoid_97, sea_surface_height_above_geoid_98,
                                                           sea_surface_height_above_geoid_99, sea_surface_height_above_geoid_00,
                                                           sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                           sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                           sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                           sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                           sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                           sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                           sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                           sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                           sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                           sea_surface_height_above_geoid_19), axis = 0)

In [93]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19_mean), axis = (1,2))

In [94]:
sea_surface_height_above_geoid_93_19_mean_all = np.concatenate((sea_surface_height_above_geoid_93_mean,
sea_surface_height_above_geoid_94_mean, sea_surface_height_above_geoid_95_mean, 
                                                                sea_surface_height_above_geoid_96_mean,
                                                           sea_surface_height_above_geoid_97_mean, sea_surface_height_above_geoid_98_mean,
                                                           sea_surface_height_above_geoid_99_mean, sea_surface_height_above_geoid_00_mean,
                                                           sea_surface_height_above_geoid_01_mean, sea_surface_height_above_geoid_02_mean,
                                                           sea_surface_height_above_geoid_03_mean, sea_surface_height_above_geoid_04_mean,
                                                           sea_surface_height_above_geoid_05_mean, sea_surface_height_above_geoid_06_mean,
                                                           sea_surface_height_above_geoid_07_mean, sea_surface_height_above_geoid_08_mean,
                                                           sea_surface_height_above_geoid_09_mean, sea_surface_height_above_geoid_10_mean,
                                                           sea_surface_height_above_geoid_11_mean, sea_surface_height_above_geoid_12_mean,
                                                           sea_surface_height_above_geoid_13_mean, sea_surface_height_above_geoid_14_mean,
                                                           sea_surface_height_above_geoid_15_mean, sea_surface_height_above_geoid_16_mean,
                                                           sea_surface_height_above_geoid_17_mean, sea_surface_height_above_geoid_18_mean,
                                                           sea_surface_height_above_geoid_19_mean), axis = 0)

In [95]:
sea_surface_height_above_sea_level_93_mean = np.mean((sea_surface_height_above_sea_level_93), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_94_mean = np.mean((sea_surface_height_above_sea_level_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_95_mean = np.mean((sea_surface_height_above_sea_level_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_96_mean = np.mean((sea_surface_height_above_sea_level_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_97_mean = np.mean((sea_surface_height_above_sea_level_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_98_mean = np.mean((sea_surface_height_above_sea_level_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_99_mean = np.mean((sea_surface_height_above_sea_level_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_00_mean = np.mean((sea_surface_height_above_sea_level_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_01_mean = np.mean((sea_surface_height_above_sea_level_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_02_mean = np.mean((sea_surface_height_above_sea_level_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_03_mean = np.mean((sea_surface_height_above_sea_level_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_04_mean = np.mean((sea_surface_height_above_sea_level_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_05_mean = np.mean((sea_surface_height_above_sea_level_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_06_mean = np.mean((sea_surface_height_above_sea_level_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_07_mean = np.mean((sea_surface_height_above_sea_level_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_08_mean = np.mean((sea_surface_height_above_sea_level_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_09_mean = np.mean((sea_surface_height_above_sea_level_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_10_mean = np.mean((sea_surface_height_above_sea_level_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_11_mean = np.mean((sea_surface_height_above_sea_level_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_12_mean = np.mean((sea_surface_height_above_sea_level_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_13_mean = np.mean((sea_surface_height_above_sea_level_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_14_mean = np.mean((sea_surface_height_above_sea_level_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_15_mean = np.mean((sea_surface_height_above_sea_level_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_16_mean = np.mean((sea_surface_height_above_sea_level_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_17_mean = np.mean((sea_surface_height_above_sea_level_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_18_mean = np.mean((sea_surface_height_above_sea_level_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_19_mean = np.mean((sea_surface_height_above_sea_level_19), axis = (0,1,2)).reshape(-1,1)

In [96]:
sea_surface_height_above_sea_level_93_19_mean_all = np.concatenate((
sea_surface_height_above_sea_level_93_mean, sea_surface_height_above_sea_level_94_mean,
sea_surface_height_above_sea_level_95_mean, sea_surface_height_above_sea_level_96_mean,
sea_surface_height_above_sea_level_97_mean, sea_surface_height_above_sea_level_98_mean,
sea_surface_height_above_sea_level_99_mean, sea_surface_height_above_sea_level_00_mean,
sea_surface_height_above_sea_level_01_mean, sea_surface_height_above_sea_level_02_mean,
sea_surface_height_above_sea_level_03_mean, sea_surface_height_above_sea_level_04_mean,
sea_surface_height_above_sea_level_05_mean, sea_surface_height_above_sea_level_06_mean,
sea_surface_height_above_sea_level_07_mean, sea_surface_height_above_sea_level_08_mean,
sea_surface_height_above_sea_level_09_mean, sea_surface_height_above_sea_level_10_mean,
sea_surface_height_above_sea_level_11_mean, sea_surface_height_above_sea_level_12_mean,
sea_surface_height_above_sea_level_13_mean, sea_surface_height_above_sea_level_14_mean,
sea_surface_height_above_sea_level_15_mean, sea_surface_height_above_sea_level_16_mean,
sea_surface_height_above_sea_level_17_mean, sea_surface_height_above_sea_level_18_mean,
sea_surface_height_above_sea_level_19_mean), axis = 0)

In [97]:
sea_surface_height_above_sea_level_93_19_mean_all.shape

(27, 1)

In [98]:
sea_surface_height_above_geoid_93_19 = np.concatenate((sea_surface_height_above_geoid_93,
                                                      sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95,
                                                      sea_surface_height_above_geoid_96, sea_surface_height_above_geoid_97,
                                                      sea_surface_height_above_geoid_98, sea_surface_height_above_geoid_99,
                                                      sea_surface_height_above_geoid_00,
                                                      sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                      sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                      sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                      sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                      sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                      sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                      sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                      sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                      sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                      sea_surface_height_above_geoid_19),axis = 0)

In [99]:
sea_surface_height_above_sea_level_93_19 = np.concatenate((sea_surface_height_above_sea_level_93,
sea_surface_height_above_sea_level_94, sea_surface_height_above_sea_level_95,
                                                          sea_surface_height_above_sea_level_96, sea_surface_height_above_sea_level_97,
                                                          sea_surface_height_above_sea_level_98, sea_surface_height_above_sea_level_99,
                                                          sea_surface_height_above_sea_level_00, sea_surface_height_above_sea_level_01,
                                                          sea_surface_height_above_sea_level_02, sea_surface_height_above_sea_level_03,
                                                          sea_surface_height_above_sea_level_04, sea_surface_height_above_sea_level_05,
                                                          sea_surface_height_above_sea_level_06, sea_surface_height_above_sea_level_07,
                                                          sea_surface_height_above_sea_level_08, sea_surface_height_above_sea_level_09,
                                                          sea_surface_height_above_sea_level_10, sea_surface_height_above_sea_level_11,
                                                          sea_surface_height_above_sea_level_12, sea_surface_height_above_sea_level_13,
                                                          sea_surface_height_above_sea_level_14, sea_surface_height_above_sea_level_15,
                                                          sea_surface_height_above_sea_level_16, sea_surface_height_above_sea_level_17,
                                                          sea_surface_height_above_sea_level_18, sea_surface_height_above_sea_level_19),axis = 0)

In [100]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19), axis = (1,2)).reshape(-1,1)

In [101]:
sea_surface_height_above_geoid_93_19_mean.shape

(2478, 1)

In [102]:
sea_surface_height_above_geoid_MAM_93 = np.mean(sea_surface_height_above_geoid_93_19_mean[:92]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_94 = np.mean(sea_surface_height_above_geoid_93_19_mean[92:184]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_95 = np.mean(sea_surface_height_above_geoid_93_19_mean[184:276]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_96 = np.mean(sea_surface_height_above_geoid_93_19_mean[276:368]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_97 = np.mean(sea_surface_height_above_geoid_93_19_mean[368:460]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_98_1 = sea_surface_height_above_geoid_93_19_mean[467:494].reshape(-1,1)
sea_surface_height_above_geoid_MAM_98_2 = sea_surface_height_above_geoid_93_19_mean[507:552].reshape(-1,1)
sea_surface_height_above_geoid_MAM_98 = np.mean(np.concatenate((sea_surface_height_above_geoid_MAM_98_1, sea_surface_height_above_geoid_MAM_98_2), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_MAM_98 = np.mean(sea_surface_height_above_geoid_MAM_98, axis = 0).reshape(-1,1)
sea_surface_height_above_geoid_MAM_99 = np.mean(sea_surface_height_above_geoid_93_19_mean[552:644]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_00 = np.mean(sea_surface_height_above_geoid_93_19_mean[644:736]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_01 = np.mean(sea_surface_height_above_geoid_93_19_mean[736:828]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_02 = np.mean(sea_surface_height_above_geoid_93_19_mean[828:920]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_03 = np.mean(sea_surface_height_above_geoid_93_19_mean[920:1012]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_04 = np.mean(sea_surface_height_above_geoid_93_19_mean[1012:1104]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_05 = np.mean(sea_surface_height_above_geoid_93_19_mean[1104:1196]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_06 = np.mean(sea_surface_height_above_geoid_93_19_mean[1196:1288]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_07 = np.mean(sea_surface_height_above_geoid_93_19_mean[1288:1380]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_08 = np.mean(sea_surface_height_above_geoid_93_19_mean[1380:1472]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_09 = np.mean(sea_surface_height_above_geoid_93_19_mean[1472:1564]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_10_1 = sea_surface_height_above_geoid_93_19_mean[1573:1576].reshape(-1,1)
sea_surface_height_above_geoid_MAM_10_2 = sea_surface_height_above_geoid_93_19_mean[1622:1656].reshape(-1,1)
sea_surface_height_above_geoid_MAM_10 = np.mean(np.concatenate((sea_surface_height_above_geoid_MAM_10_1, sea_surface_height_above_geoid_MAM_10_2), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_MAM_10 = np.mean(sea_surface_height_above_geoid_MAM_10, axis = 0).reshape(-1,1)
sea_surface_height_above_geoid_MAM_11 = np.mean(sea_surface_height_above_geoid_93_19_mean[1656:1748]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_12 = np.mean(sea_surface_height_above_geoid_93_19_mean[1748:1840]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_13 = np.mean(sea_surface_height_above_geoid_93_19_mean[1840:1932]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_14 = np.mean(sea_surface_height_above_geoid_93_19_mean[1932:2024]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_15_1 = sea_surface_height_above_geoid_93_19_mean[2024:2049].reshape(-1,1)
sea_surface_height_above_geoid_MAM_15_2 = sea_surface_height_above_geoid_93_19_mean[2064:2079].reshape(-1,1)
sea_surface_height_above_geoid_MAM_15_3 = sea_surface_height_above_geoid_93_19_mean[2089:2093].reshape(-1,1)
sea_surface_height_above_geoid_MAM_15 = np.mean(np.concatenate((sea_surface_height_above_geoid_MAM_15_1, sea_surface_height_above_geoid_MAM_15_2, sea_surface_height_above_geoid_MAM_15_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_MAM_15 = np.mean(sea_surface_height_above_geoid_MAM_15, axis = 0).reshape(-1,1)
sea_surface_height_above_geoid_MAM_16 = np.mean(sea_surface_height_above_geoid_93_19_mean[2134:2208]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_17_1 = sea_surface_height_above_geoid_93_19_mean[2208:2261].reshape(-1,1)
sea_surface_height_above_geoid_MAM_17_2 = sea_surface_height_above_geoid_93_19_mean[2268:2274].reshape(-1,1)
sea_surface_height_above_geoid_MAM_17_3 = sea_surface_height_above_geoid_93_19_mean[2280:2300].reshape(-1,1)
sea_surface_height_above_geoid_MAM_17 = np.mean(np.concatenate((sea_surface_height_above_geoid_MAM_17_1, sea_surface_height_above_geoid_MAM_17_2, sea_surface_height_above_geoid_MAM_17_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_MAM_17 = np.mean(sea_surface_height_above_geoid_MAM_17, axis = 0).reshape(-1,1)
sea_surface_height_above_geoid_MAM_18 = np.mean(sea_surface_height_above_geoid_93_19_mean[2300:2392]).reshape(-1,1)
sea_surface_height_above_geoid_MAM_19_1 = sea_surface_height_above_geoid_93_19_mean[2392:2431].reshape(-1,1)
sea_surface_height_above_geoid_MAM_19_2 = sea_surface_height_above_geoid_93_19_mean[2438:2444].reshape(-1,1)
sea_surface_height_above_geoid_MAM_19_3 = sea_surface_height_above_geoid_93_19_mean[2451:].reshape(-1,1)
sea_surface_height_above_geoid_MAM_19 = np.mean(np.concatenate((sea_surface_height_above_geoid_MAM_19_1, sea_surface_height_above_geoid_MAM_19_2, sea_surface_height_above_geoid_MAM_19_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_MAM_19 = np.mean(sea_surface_height_above_geoid_MAM_19, axis = 0).reshape(-1,1)

In [103]:
sea_surface_height_above_geoid_MAM_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_geoid_MAM_93, sea_surface_height_above_geoid_MAM_94,
sea_surface_height_above_geoid_MAM_95, sea_surface_height_above_geoid_MAM_96,
sea_surface_height_above_geoid_MAM_97, sea_surface_height_above_geoid_MAM_98,
sea_surface_height_above_geoid_MAM_99, sea_surface_height_above_geoid_MAM_00,
sea_surface_height_above_geoid_MAM_01, sea_surface_height_above_geoid_MAM_02,
sea_surface_height_above_geoid_MAM_03, sea_surface_height_above_geoid_MAM_04,
sea_surface_height_above_geoid_MAM_05, sea_surface_height_above_geoid_MAM_06,
sea_surface_height_above_geoid_MAM_07, sea_surface_height_above_geoid_MAM_08,
sea_surface_height_above_geoid_MAM_09, sea_surface_height_above_geoid_MAM_10,
sea_surface_height_above_geoid_MAM_11, sea_surface_height_above_geoid_MAM_12,
sea_surface_height_above_geoid_MAM_13, sea_surface_height_above_geoid_MAM_14,
sea_surface_height_above_geoid_MAM_15, sea_surface_height_above_geoid_MAM_16,
sea_surface_height_above_geoid_MAM_17, sea_surface_height_above_geoid_MAM_18,
sea_surface_height_above_geoid_MAM_19), axis = 0).reshape(-1,1)

In [104]:
sea_surface_height_above_geoid_MAM_93_19_without_MHW_mean.shape

(27, 1)

In [105]:
sea_surface_height_above_sea_level_93_19_mean.shape

(2499, 1)

In [106]:
sea_surface_height_above_sea_level_MAM_93 = np.mean(sea_surface_height_above_sea_level_93_19_mean[:92]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_94 = np.mean(sea_surface_height_above_sea_level_93_19_mean[92:184]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_95 = np.mean(sea_surface_height_above_sea_level_93_19_mean[184:276]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_96 = np.mean(sea_surface_height_above_sea_level_93_19_mean[276:368]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_97 = np.mean(sea_surface_height_above_sea_level_93_19_mean[368:460]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_98_1 = sea_surface_height_above_sea_level_93_19_mean[467:494].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_98_2 = sea_surface_height_above_sea_level_93_19_mean[507:552].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_98 = np.mean(np.concatenate((sea_surface_height_above_sea_level_MAM_98_1, sea_surface_height_above_sea_level_MAM_98_2), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_98 = np.mean(sea_surface_height_above_sea_level_MAM_98, axis = 0).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_99 = np.mean(sea_surface_height_above_sea_level_93_19_mean[552:644]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_00 = np.mean(sea_surface_height_above_sea_level_93_19_mean[644:736]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_01 = np.mean(sea_surface_height_above_sea_level_93_19_mean[736:828]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_02 = np.mean(sea_surface_height_above_sea_level_93_19_mean[828:920]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_03 = np.mean(sea_surface_height_above_sea_level_93_19_mean[920:1012]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_04 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1012:1104]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_05 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1104:1196]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_06 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1196:1288]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_07 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1288:1380]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_08 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1380:1472]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_09 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1472:1564]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_10_1 = sea_surface_height_above_sea_level_93_19_mean[1573:1576].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_10_2 = sea_surface_height_above_sea_level_93_19_mean[1622:1656].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_10 = np.mean(np.concatenate((sea_surface_height_above_sea_level_MAM_10_1, sea_surface_height_above_sea_level_MAM_10_2), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_10 = np.mean(sea_surface_height_above_sea_level_MAM_10, axis = 0).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_11 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1656:1748]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_12 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1748:1840]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_13 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1840:1932]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_14 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1932:2024]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_15_1 = sea_surface_height_above_sea_level_93_19_mean[2024:2049].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_15_2 = sea_surface_height_above_sea_level_93_19_mean[2064:2079].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_15_3 = sea_surface_height_above_sea_level_93_19_mean[2089:2093].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_15 = np.mean(np.concatenate((sea_surface_height_above_sea_level_MAM_15_1, sea_surface_height_above_sea_level_MAM_15_2, sea_surface_height_above_sea_level_MAM_15_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_15 = np.mean(sea_surface_height_above_sea_level_MAM_15, axis = 0).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_16 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2134:2208]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_17_1 = sea_surface_height_above_sea_level_93_19_mean[2208:2261].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_17_2 = sea_surface_height_above_sea_level_93_19_mean[2268:2274].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_17_3 = sea_surface_height_above_sea_level_93_19_mean[2280:2300].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_17 = np.mean(np.concatenate((sea_surface_height_above_sea_level_MAM_17_1, sea_surface_height_above_sea_level_MAM_17_2, sea_surface_height_above_sea_level_MAM_17_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_17 = np.mean(sea_surface_height_above_sea_level_MAM_17, axis = 0).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_18 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2300:2392]).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_19_1 = sea_surface_height_above_sea_level_93_19_mean[2392:2431].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_19_2 = sea_surface_height_above_sea_level_93_19_mean[2438:2444].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_19_3 = sea_surface_height_above_sea_level_93_19_mean[2451:].reshape(-1,1)
sea_surface_height_above_sea_level_MAM_19 = np.mean(np.concatenate((sea_surface_height_above_sea_level_MAM_19_1, sea_surface_height_above_sea_level_MAM_19_2, sea_surface_height_above_sea_level_MAM_19_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_MAM_19 = np.mean(sea_surface_height_above_sea_level_MAM_19, axis = 0).reshape(-1,1)

In [107]:
sea_surface_height_above_sea_level_MAM_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_sea_level_MAM_93, sea_surface_height_above_sea_level_MAM_94,
sea_surface_height_above_sea_level_MAM_95, sea_surface_height_above_sea_level_MAM_96,
sea_surface_height_above_sea_level_MAM_97, sea_surface_height_above_sea_level_MAM_98,
sea_surface_height_above_sea_level_MAM_99, sea_surface_height_above_sea_level_MAM_00,
sea_surface_height_above_sea_level_MAM_01, sea_surface_height_above_sea_level_MAM_02,
sea_surface_height_above_sea_level_MAM_03, sea_surface_height_above_sea_level_MAM_04,
sea_surface_height_above_sea_level_MAM_05, sea_surface_height_above_sea_level_MAM_06,
sea_surface_height_above_sea_level_MAM_07, sea_surface_height_above_sea_level_MAM_08,
sea_surface_height_above_sea_level_MAM_09, sea_surface_height_above_sea_level_MAM_10,
sea_surface_height_above_sea_level_MAM_11, sea_surface_height_above_sea_level_MAM_12,
sea_surface_height_above_sea_level_MAM_13, sea_surface_height_above_sea_level_MAM_14,
sea_surface_height_above_sea_level_MAM_15, sea_surface_height_above_sea_level_MAM_16,
sea_surface_height_above_sea_level_MAM_17, sea_surface_height_above_sea_level_MAM_18,
sea_surface_height_above_sea_level_MAM_19), axis = 0).reshape(-1,1)

In [108]:
sea_surface_height_above_sea_level_MAM_93_19_without_MHW_mean.shape

(27, 1)

In [109]:
sea_surface_height_above_geoid_93_19_mean_all.shape

(27, 1)

In [110]:
sea_surface_height_above_sea_level_93_19_mean_all.shape

(27, 1)

In [111]:
np.savez(r'D:\博士工作\第三篇论文_MHW_AI\data\pacific\last\low_cloud\E_P_cloud_MAM_Plot_with_without_MHW.npz',
         low_cloud_cover_MAM_93_19_with_MHW_mean = sea_surface_height_above_geoid_93_19_mean_all,
         E_JJA_93_19_with_MAM_mean = sea_surface_height_above_sea_level_93_19_mean_all,
        low_cloud_cover_MAM_93_19_without_MHW_mean = sea_surface_height_above_geoid_MAM_93_19_without_MHW_mean,
        E_P_MAM_93_19_without_MHW_mean = sea_surface_height_above_sea_level_MAM_93_19_without_MHW_mean)

In [112]:
sea_surface_height_above_geoid = low_cloud_cover
sea_surface_height_above_sea_level = potential_evaporation

In [113]:
# SON   93
date_93_1 = 243
date_93_2 = 334
data_1 = date_93_1
data_2 = date_93_2

sea_surface_height_above_geoid_93 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_93 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [114]:
# SON   94
date_94_1 = 608
date_94_2 = 699
data_1 = date_94_1
data_2 = date_94_2

sea_surface_height_above_geoid_94 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_94 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [115]:
# SON   95
date_95_1 = 973
date_95_2 = 1064
data_1 = date_95_1
data_2 = date_95_2

sea_surface_height_above_geoid_95 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_95 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [116]:
# SON   96
date_96_1 = 1339
date_96_2 = 1430
data_1 = date_96_1
data_2 = date_96_2

sea_surface_height_above_geoid_96 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_96 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [117]:
# SON   97
date_97_1 = 1704
date_97_2 = 1795
data_1 = date_97_1
data_2 = date_97_2

sea_surface_height_above_geoid_97 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_97 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [118]:
# SON   98
date_98_1 = 2069
date_98_2 = 2160
data_1 = date_98_1
data_2 = date_98_2

sea_surface_height_above_geoid_98 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_98 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [119]:
# SON   99
date_99_1 = 2434
date_99_2 = 2525
data_1 = date_99_1
data_2 = date_99_2

sea_surface_height_above_geoid_99 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_99 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [120]:
# SON   00
date_00_1 = 2800
date_00_2 = 2891
data_1 = date_00_1
data_2 = date_00_2

sea_surface_height_above_geoid_00 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_00 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [121]:
# SON   01
date_01_1 = 3165
date_01_2 = 3256
data_1 = date_01_1
data_2 = date_01_2

sea_surface_height_above_geoid_01 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_01 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [122]:
# SON   02
date_02_1 = 3529
date_02_2 = 3620
data_1 = date_02_1
data_2 = date_02_2

sea_surface_height_above_geoid_02 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_02 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [123]:
# SON   03
date_03_1 = 3895
date_03_2 = 3986
data_1 = date_03_1
data_2 = date_03_2

sea_surface_height_above_geoid_03 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_03 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [124]:
# SON   04
date_04_1 = 4261
date_04_2 = 4352
data_1 = date_04_1
data_2 = date_04_2

sea_surface_height_above_geoid_04 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_04 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [125]:
# SON   05
date_05_1 = 4626
date_05_2 = 4717
data_1 = date_05_1
data_2 = date_05_2

sea_surface_height_above_geoid_05 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_05 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [126]:
# SON   06
date_06_1 = 4990
date_06_2 = 5081
data_1 = date_06_1
data_2 = date_06_2

sea_surface_height_above_geoid_06 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_06 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [127]:
# SON   07
date_07_1 = 5356
date_07_2 = 5447
data_1 = date_07_1
data_2 = date_07_2

sea_surface_height_above_geoid_07 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_07 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [128]:
# SON   08
date_08_1 = 5722
date_08_2 = 5813
data_1 = date_08_1
data_2 = date_08_2

sea_surface_height_above_geoid_08 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_08 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [129]:
# SON   09
date_09_1 = 6087
date_09_2 = 6178
data_1 = date_09_1
data_2 = date_09_2

sea_surface_height_above_geoid_09 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_09 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [130]:
# SON   10
date_10_1 = 6452
date_10_2 = 6543
data_1 = date_10_1
data_2 = date_10_2

sea_surface_height_above_geoid_10 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_10 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [131]:
# SON   11
date_11_1 = 6817
date_11_2 = 6908
data_1 = date_11_1
data_2 = date_11_2

sea_surface_height_above_geoid_11 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_11 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [132]:
# SON   12
date_12_1 = 7183
date_12_2 = 7274
data_1 = date_12_1
data_2 = date_12_2

sea_surface_height_above_geoid_12 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_12 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [133]:
# SON   13
date_13_1 = 7548
date_13_2 = 7639
data_1 = date_13_1
data_2 = date_13_2

sea_surface_height_above_geoid_13 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_13 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [134]:
# SON   14
date_14_1 = 7913
date_14_2 = 8004
data_1 = date_14_1
data_2 = date_14_2

sea_surface_height_above_geoid_14 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_14 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [135]:
# SON   15
date_15_1 = 8278
date_15_2 = 8369
data_1 = date_15_1
data_2 = date_15_2

sea_surface_height_above_geoid_15 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_15 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [136]:
# SON   16
date_16_1 = 8644
date_16_2 = 8735
data_1 = date_16_1
data_2 = date_16_2

sea_surface_height_above_geoid_16 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_16 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [137]:
# SON   17
date_17_1 = 9009
date_17_2 = 9100
data_1 = date_17_1
data_2 = date_17_2

sea_surface_height_above_geoid_17 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_17 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [138]:
# SON   18
date_18_1 = 9374
date_18_2 = 9465
data_1 = date_18_1
data_2 = date_18_2

sea_surface_height_above_geoid_18 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_18 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [139]:
# SON   19
date_19_1 = 9739
date_19_2 = 9830
data_1 = date_19_1
data_2 = date_19_2

sea_surface_height_above_geoid_19 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_19 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [140]:
sea_surface_height_above_geoid_93_mean = np.mean((sea_surface_height_above_geoid_93), axis = (0,1,2)).reshape(-1,1)

In [141]:
sea_surface_height_above_geoid_94_mean = np.mean((sea_surface_height_above_geoid_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_95_mean = np.mean((sea_surface_height_above_geoid_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_96_mean = np.mean((sea_surface_height_above_geoid_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_97_mean = np.mean((sea_surface_height_above_geoid_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_98_mean = np.mean((sea_surface_height_above_geoid_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_99_mean = np.mean((sea_surface_height_above_geoid_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_00_mean = np.mean((sea_surface_height_above_geoid_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_01_mean = np.mean((sea_surface_height_above_geoid_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_02_mean = np.mean((sea_surface_height_above_geoid_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_03_mean = np.mean((sea_surface_height_above_geoid_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_04_mean = np.mean((sea_surface_height_above_geoid_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_05_mean = np.mean((sea_surface_height_above_geoid_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_06_mean = np.mean((sea_surface_height_above_geoid_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_07_mean = np.mean((sea_surface_height_above_geoid_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_08_mean = np.mean((sea_surface_height_above_geoid_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_09_mean = np.mean((sea_surface_height_above_geoid_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_10_mean = np.mean((sea_surface_height_above_geoid_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_11_mean = np.mean((sea_surface_height_above_geoid_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_12_mean = np.mean((sea_surface_height_above_geoid_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_13_mean = np.mean((sea_surface_height_above_geoid_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_14_mean = np.mean((sea_surface_height_above_geoid_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_15_mean = np.mean((sea_surface_height_above_geoid_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_16_mean = np.mean((sea_surface_height_above_geoid_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_17_mean = np.mean((sea_surface_height_above_geoid_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_18_mean = np.mean((sea_surface_height_above_geoid_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_19_mean = np.mean((sea_surface_height_above_geoid_19), axis = (0,1,2)).reshape(-1,1)

In [142]:
sea_surface_height_above_geoid_93_19_mean = np.concatenate((sea_surface_height_above_geoid_93,
sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95, sea_surface_height_above_geoid_96,
                                                           sea_surface_height_above_geoid_97, sea_surface_height_above_geoid_98,
                                                           sea_surface_height_above_geoid_99, sea_surface_height_above_geoid_00,
                                                           sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                           sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                           sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                           sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                           sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                           sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                           sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                           sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                           sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                           sea_surface_height_above_geoid_19), axis = 0)

In [143]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19_mean), axis = (1,2))

In [144]:
sea_surface_height_above_geoid_93_19_mean_all = np.concatenate((sea_surface_height_above_geoid_93_mean,
sea_surface_height_above_geoid_94_mean, sea_surface_height_above_geoid_95_mean, 
                                                                sea_surface_height_above_geoid_96_mean,
                                                           sea_surface_height_above_geoid_97_mean, sea_surface_height_above_geoid_98_mean,
                                                           sea_surface_height_above_geoid_99_mean, sea_surface_height_above_geoid_00_mean,
                                                           sea_surface_height_above_geoid_01_mean, sea_surface_height_above_geoid_02_mean,
                                                           sea_surface_height_above_geoid_03_mean, sea_surface_height_above_geoid_04_mean,
                                                           sea_surface_height_above_geoid_05_mean, sea_surface_height_above_geoid_06_mean,
                                                           sea_surface_height_above_geoid_07_mean, sea_surface_height_above_geoid_08_mean,
                                                           sea_surface_height_above_geoid_09_mean, sea_surface_height_above_geoid_10_mean,
                                                           sea_surface_height_above_geoid_11_mean, sea_surface_height_above_geoid_12_mean,
                                                           sea_surface_height_above_geoid_13_mean, sea_surface_height_above_geoid_14_mean,
                                                           sea_surface_height_above_geoid_15_mean, sea_surface_height_above_geoid_16_mean,
                                                           sea_surface_height_above_geoid_17_mean, sea_surface_height_above_geoid_18_mean,
                                                           sea_surface_height_above_geoid_19_mean), axis = 0)

In [145]:
sea_surface_height_above_sea_level_93_mean = np.mean((sea_surface_height_above_sea_level_93), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_94_mean = np.mean((sea_surface_height_above_sea_level_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_95_mean = np.mean((sea_surface_height_above_sea_level_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_96_mean = np.mean((sea_surface_height_above_sea_level_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_97_mean = np.mean((sea_surface_height_above_sea_level_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_98_mean = np.mean((sea_surface_height_above_sea_level_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_99_mean = np.mean((sea_surface_height_above_sea_level_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_00_mean = np.mean((sea_surface_height_above_sea_level_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_01_mean = np.mean((sea_surface_height_above_sea_level_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_02_mean = np.mean((sea_surface_height_above_sea_level_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_03_mean = np.mean((sea_surface_height_above_sea_level_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_04_mean = np.mean((sea_surface_height_above_sea_level_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_05_mean = np.mean((sea_surface_height_above_sea_level_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_06_mean = np.mean((sea_surface_height_above_sea_level_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_07_mean = np.mean((sea_surface_height_above_sea_level_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_08_mean = np.mean((sea_surface_height_above_sea_level_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_09_mean = np.mean((sea_surface_height_above_sea_level_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_10_mean = np.mean((sea_surface_height_above_sea_level_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_11_mean = np.mean((sea_surface_height_above_sea_level_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_12_mean = np.mean((sea_surface_height_above_sea_level_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_13_mean = np.mean((sea_surface_height_above_sea_level_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_14_mean = np.mean((sea_surface_height_above_sea_level_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_15_mean = np.mean((sea_surface_height_above_sea_level_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_16_mean = np.mean((sea_surface_height_above_sea_level_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_17_mean = np.mean((sea_surface_height_above_sea_level_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_18_mean = np.mean((sea_surface_height_above_sea_level_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_19_mean = np.mean((sea_surface_height_above_sea_level_19), axis = (0,1,2)).reshape(-1,1)

In [146]:
sea_surface_height_above_sea_level_93_19_mean_all = np.concatenate((
sea_surface_height_above_sea_level_93_mean, sea_surface_height_above_sea_level_94_mean,
sea_surface_height_above_sea_level_95_mean, sea_surface_height_above_sea_level_96_mean,
sea_surface_height_above_sea_level_97_mean, sea_surface_height_above_sea_level_98_mean,
sea_surface_height_above_sea_level_99_mean, sea_surface_height_above_sea_level_00_mean,
sea_surface_height_above_sea_level_01_mean, sea_surface_height_above_sea_level_02_mean,
sea_surface_height_above_sea_level_03_mean, sea_surface_height_above_sea_level_04_mean,
sea_surface_height_above_sea_level_05_mean, sea_surface_height_above_sea_level_06_mean,
sea_surface_height_above_sea_level_07_mean, sea_surface_height_above_sea_level_08_mean,
sea_surface_height_above_sea_level_09_mean, sea_surface_height_above_sea_level_10_mean,
sea_surface_height_above_sea_level_11_mean, sea_surface_height_above_sea_level_12_mean,
sea_surface_height_above_sea_level_13_mean, sea_surface_height_above_sea_level_14_mean,
sea_surface_height_above_sea_level_15_mean, sea_surface_height_above_sea_level_16_mean,
sea_surface_height_above_sea_level_17_mean, sea_surface_height_above_sea_level_18_mean,
sea_surface_height_above_sea_level_19_mean), axis = 0)

In [147]:
sea_surface_height_above_geoid_93_19 = np.concatenate((sea_surface_height_above_geoid_93,
                                                      sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95,
                                                      sea_surface_height_above_geoid_96, sea_surface_height_above_geoid_97,
                                                      sea_surface_height_above_geoid_98, sea_surface_height_above_geoid_99,
                                                      sea_surface_height_above_geoid_00,
                                                      sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                      sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                      sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                      sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                      sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                      sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                      sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                      sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                      sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                      sea_surface_height_above_geoid_19),axis = 0)

In [148]:
sea_surface_height_above_sea_level_93_19 = np.concatenate((sea_surface_height_above_sea_level_93,
sea_surface_height_above_sea_level_94, sea_surface_height_above_sea_level_95,
                                                          sea_surface_height_above_sea_level_96, sea_surface_height_above_sea_level_97,
                                                          sea_surface_height_above_sea_level_98, sea_surface_height_above_sea_level_99,
                                                          sea_surface_height_above_sea_level_00, sea_surface_height_above_sea_level_01,
                                                          sea_surface_height_above_sea_level_02, sea_surface_height_above_sea_level_03,
                                                          sea_surface_height_above_sea_level_04, sea_surface_height_above_sea_level_05,
                                                          sea_surface_height_above_sea_level_06, sea_surface_height_above_sea_level_07,
                                                          sea_surface_height_above_sea_level_08, sea_surface_height_above_sea_level_09,
                                                          sea_surface_height_above_sea_level_10, sea_surface_height_above_sea_level_11,
                                                          sea_surface_height_above_sea_level_12, sea_surface_height_above_sea_level_13,
                                                          sea_surface_height_above_sea_level_14, sea_surface_height_above_sea_level_15,
                                                          sea_surface_height_above_sea_level_16, sea_surface_height_above_sea_level_17,
                                                          sea_surface_height_above_sea_level_18, sea_surface_height_above_sea_level_19),axis = 0)

In [149]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19), axis = (1,2)).reshape(-1,1)

In [150]:
sea_surface_height_above_geoid_93_19_mean.shape

(2457, 1)

In [151]:
sea_surface_height_above_sea_level_93_19_mean = np.mean((sea_surface_height_above_sea_level_93_19), axis = (1,2)).reshape(-1,1)

In [152]:
sea_surface_height_above_sea_level_93_19_mean.shape

(2457, 1)

In [153]:
sea_surface_height_above_geoid_SON_93 = np.mean(sea_surface_height_above_geoid_93_19_mean[:91]).reshape(-1,1)
sea_surface_height_above_geoid_SON_94 = np.mean(sea_surface_height_above_geoid_93_19_mean[91:182]).reshape(-1,1)
sea_surface_height_above_geoid_SON_95 = np.mean(sea_surface_height_above_geoid_93_19_mean[182:273]).reshape(-1,1)
sea_surface_height_above_geoid_SON_96 = np.mean(sea_surface_height_above_geoid_93_19_mean[273:364]).reshape(-1,1)
sea_surface_height_above_geoid_SON_97_1 = sea_surface_height_above_geoid_93_19_mean[364:447].reshape(-1,1)
sea_surface_height_above_geoid_SON_97_2 = sea_surface_height_above_geoid_93_19_mean[452:455].reshape(-1,1)
sea_surface_height_above_geoid_SON_97 = np.concatenate((sea_surface_height_above_geoid_SON_97_1, sea_surface_height_above_geoid_SON_97_2), axis = 0)
sea_surface_height_above_geoid_SON_97 = np.mean(sea_surface_height_above_geoid_SON_97).reshape(-1,1)
sea_surface_height_above_geoid_SON_98 = np.mean(sea_surface_height_above_geoid_93_19_mean[455:546]).reshape(-1,1)
sea_surface_height_above_geoid_SON_99 = np.mean(sea_surface_height_above_geoid_93_19_mean[546:637]).reshape(-1,1)
sea_surface_height_above_geoid_SON_00 = np.mean(sea_surface_height_above_geoid_93_19_mean[637:728]).reshape(-1,1)
sea_surface_height_above_geoid_SON_01 = np.mean(sea_surface_height_above_geoid_93_19_mean[728:819]).reshape(-1,1)
sea_surface_height_above_geoid_SON_02 = np.mean(sea_surface_height_above_geoid_93_19_mean[819:910]).reshape(-1,1)
sea_surface_height_above_geoid_SON_03 = np.mean(sea_surface_height_above_geoid_93_19_mean[910:1001]).reshape(-1,1)
sea_surface_height_above_geoid_SON_04 = np.mean(sea_surface_height_above_geoid_93_19_mean[1001:1092]).reshape(-1,1)
sea_surface_height_above_geoid_SON_05 = np.mean(sea_surface_height_above_geoid_93_19_mean[1092:1183]).reshape(-1,1)
sea_surface_height_above_geoid_SON_06_1 = sea_surface_height_above_geoid_93_19_mean[1183:1250].reshape(-1,1)
sea_surface_height_above_geoid_SON_06_2 = sea_surface_height_above_geoid_93_19_mean[1255:1274].reshape(-1,1)
sea_surface_height_above_geoid_SON_06 = np.concatenate((sea_surface_height_above_geoid_SON_06_1, sea_surface_height_above_geoid_SON_06_2), axis = 0)
sea_surface_height_above_geoid_SON_06 = np.mean(sea_surface_height_above_geoid_SON_06).reshape(-1,1)
sea_surface_height_above_geoid_SON_07 = np.mean(sea_surface_height_above_geoid_93_19_mean[1274:1365]).reshape(-1,1)
sea_surface_height_above_geoid_SON_08 = np.mean(sea_surface_height_above_geoid_93_19_mean[1365:1456]).reshape(-1,1)
sea_surface_height_above_geoid_SON_09 = np.mean(sea_surface_height_above_geoid_93_19_mean[1456:1547]).reshape(-1,1)
sea_surface_height_above_geoid_SON_10 = np.mean(sea_surface_height_above_geoid_93_19_mean[1547:1638]).reshape(-1,1)
sea_surface_height_above_geoid_SON_11 = np.mean(sea_surface_height_above_geoid_93_19_mean[1638:1729]).reshape(-1,1)
sea_surface_height_above_geoid_SON_12_1 = sea_surface_height_above_geoid_93_19_mean[1732:1738].reshape(-1,1)
sea_surface_height_above_geoid_SON_12_2 = sea_surface_height_above_geoid_93_19_mean[1747:1752].reshape(-1,1)
sea_surface_height_above_geoid_SON_12_3 = sea_surface_height_above_geoid_93_19_mean[1757:1820].reshape(-1,1)
sea_surface_height_above_geoid_SON_12 = np.concatenate((sea_surface_height_above_geoid_SON_12_1, sea_surface_height_above_geoid_SON_12_2, sea_surface_height_above_geoid_SON_12_3), axis = 0)
sea_surface_height_above_geoid_SON_12 = np.mean(sea_surface_height_above_geoid_SON_12).reshape(-1,1)
sea_surface_height_above_geoid_SON_13_1 = sea_surface_height_above_geoid_93_19_mean[1820:1880].reshape(-1,1)
sea_surface_height_above_geoid_SON_13_2 = sea_surface_height_above_geoid_93_19_mean[1885:1903].reshape(-1,1)
sea_surface_height_above_geoid_SON_13_3 = sea_surface_height_above_geoid_93_19_mean[1908:1911].reshape(-1,1)
sea_surface_height_above_geoid_SON_13 = np.concatenate((sea_surface_height_above_geoid_SON_13_1, sea_surface_height_above_geoid_SON_13_2, sea_surface_height_above_geoid_SON_13_3), axis = 0)
sea_surface_height_above_geoid_SON_13 = np.mean(sea_surface_height_above_geoid_SON_13).reshape(-1,1)
sea_surface_height_above_geoid_SON_14_1 = sea_surface_height_above_geoid_93_19_mean[1911:1944].reshape(-1,1)
sea_surface_height_above_geoid_SON_14_2 = sea_surface_height_above_geoid_93_19_mean[1949:1972].reshape(-1,1)
sea_surface_height_above_geoid_SON_14_3 = sea_surface_height_above_geoid_93_19_mean[1977:1986].reshape(-1,1)
sea_surface_height_above_geoid_SON_14 = np.concatenate((sea_surface_height_above_geoid_SON_14_1, sea_surface_height_above_geoid_SON_14_2, sea_surface_height_above_geoid_SON_14_3), axis = 0)
sea_surface_height_above_geoid_SON_14 = np.mean(sea_surface_height_above_geoid_SON_14).reshape(-1,1)
sea_surface_height_above_geoid_SON_15 = np.mean(sea_surface_height_above_geoid_93_19_mean[2078:2084]).reshape(-1,1)
sea_surface_height_above_geoid_SON_16 = np.mean(sea_surface_height_above_geoid_93_19_mean[2093:2184]).reshape(-1,1)
sea_surface_height_above_geoid_SON_17_1 = sea_surface_height_above_geoid_93_19_mean[2192:2236].reshape(-1,1)
sea_surface_height_above_geoid_SON_17_2 = sea_surface_height_above_geoid_93_19_mean[2255:2275].reshape(-1,1)
sea_surface_height_above_geoid_SON_17 = np.concatenate((sea_surface_height_above_geoid_SON_17_1, sea_surface_height_above_geoid_SON_17_2), axis = 0)
sea_surface_height_above_geoid_SON_17 = np.mean(sea_surface_height_above_geoid_SON_17).reshape(-1,1)
sea_surface_height_above_geoid_SON_18_1 = sea_surface_height_above_geoid_93_19_mean[2275:2297].reshape(-1,1)
sea_surface_height_above_geoid_SON_18_2 = sea_surface_height_above_geoid_93_19_mean[2324:2366].reshape(-1,1)
sea_surface_height_above_geoid_SON_18 = np.concatenate((sea_surface_height_above_geoid_SON_18_1, sea_surface_height_above_geoid_SON_18_2), axis = 0)
sea_surface_height_above_geoid_SON_18 = np.mean(sea_surface_height_above_geoid_SON_18).reshape(-1,1)
sea_surface_height_above_geoid_SON_19 = np.mean(sea_surface_height_above_geoid_93_19_mean[2366:]).reshape(-1,1)

In [154]:
sea_surface_height_above_geoid_SON_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_geoid_SON_93, sea_surface_height_above_geoid_SON_94,
sea_surface_height_above_geoid_SON_95, sea_surface_height_above_geoid_SON_96,
sea_surface_height_above_geoid_SON_97, sea_surface_height_above_geoid_SON_98,
sea_surface_height_above_geoid_SON_99, sea_surface_height_above_geoid_SON_00,
sea_surface_height_above_geoid_SON_01, sea_surface_height_above_geoid_SON_02,
sea_surface_height_above_geoid_SON_03, sea_surface_height_above_geoid_SON_04,
sea_surface_height_above_geoid_SON_05, sea_surface_height_above_geoid_SON_06,
sea_surface_height_above_geoid_SON_07, sea_surface_height_above_geoid_SON_08,
sea_surface_height_above_geoid_SON_09, sea_surface_height_above_geoid_SON_10,
sea_surface_height_above_geoid_SON_11, sea_surface_height_above_geoid_SON_12,
sea_surface_height_above_geoid_SON_13, sea_surface_height_above_geoid_SON_14,
sea_surface_height_above_geoid_SON_15, sea_surface_height_above_geoid_SON_16,
sea_surface_height_above_geoid_SON_17, sea_surface_height_above_geoid_SON_18,
sea_surface_height_above_geoid_SON_19), axis = 0).reshape(-1,1)

In [155]:
sea_surface_height_above_sea_level_SON_93 = np.mean(sea_surface_height_above_sea_level_93_19_mean[:91]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_94 = np.mean(sea_surface_height_above_sea_level_93_19_mean[91:182]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_95 = np.mean(sea_surface_height_above_sea_level_93_19_mean[182:273]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_96 = np.mean(sea_surface_height_above_sea_level_93_19_mean[273:364]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_97_1 = sea_surface_height_above_sea_level_93_19_mean[364:447].reshape(-1,1)
sea_surface_height_above_sea_level_SON_97_2 = sea_surface_height_above_sea_level_93_19_mean[452:455].reshape(-1,1)
sea_surface_height_above_sea_level_SON_97 = np.concatenate((sea_surface_height_above_sea_level_SON_97_1, sea_surface_height_above_sea_level_SON_97_2), axis = 0)
sea_surface_height_above_sea_level_SON_97 = np.mean(sea_surface_height_above_sea_level_SON_97).reshape(-1,1)
sea_surface_height_above_sea_level_SON_98 = np.mean(sea_surface_height_above_sea_level_93_19_mean[455:546]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_99 = np.mean(sea_surface_height_above_sea_level_93_19_mean[546:637]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_00 = np.mean(sea_surface_height_above_sea_level_93_19_mean[637:728]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_01 = np.mean(sea_surface_height_above_sea_level_93_19_mean[728:819]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_02 = np.mean(sea_surface_height_above_sea_level_93_19_mean[819:910]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_03 = np.mean(sea_surface_height_above_sea_level_93_19_mean[910:1001]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_04 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1001:1092]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_05 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1092:1183]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_06_1 = sea_surface_height_above_sea_level_93_19_mean[1183:1250].reshape(-1,1)
sea_surface_height_above_sea_level_SON_06_2 = sea_surface_height_above_sea_level_93_19_mean[1255:1274].reshape(-1,1)
sea_surface_height_above_sea_level_SON_06 = np.concatenate((sea_surface_height_above_sea_level_SON_06_1, sea_surface_height_above_sea_level_SON_06_2), axis = 0)
sea_surface_height_above_sea_level_SON_06 = np.mean(sea_surface_height_above_sea_level_SON_06).reshape(-1,1)
sea_surface_height_above_sea_level_SON_07 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1274:1365]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_08 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1365:1456]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_09 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1456:1547]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_10 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1547:1638]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_11 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1638:1729]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_12_1 = sea_surface_height_above_sea_level_93_19_mean[1732:1738].reshape(-1,1)
sea_surface_height_above_sea_level_SON_12_2 = sea_surface_height_above_sea_level_93_19_mean[1747:1752].reshape(-1,1)
sea_surface_height_above_sea_level_SON_12_3 = sea_surface_height_above_sea_level_93_19_mean[1757:1820].reshape(-1,1)
sea_surface_height_above_sea_level_SON_12 = np.concatenate((sea_surface_height_above_sea_level_SON_12_1, sea_surface_height_above_sea_level_SON_12_2, sea_surface_height_above_sea_level_SON_12_3), axis = 0)
sea_surface_height_above_sea_level_SON_12 = np.mean(sea_surface_height_above_sea_level_SON_12).reshape(-1,1)
sea_surface_height_above_sea_level_SON_13_1 = sea_surface_height_above_sea_level_93_19_mean[1820:1880].reshape(-1,1)
sea_surface_height_above_sea_level_SON_13_2 = sea_surface_height_above_sea_level_93_19_mean[1885:1903].reshape(-1,1)
sea_surface_height_above_sea_level_SON_13_3 = sea_surface_height_above_sea_level_93_19_mean[1908:1911].reshape(-1,1)
sea_surface_height_above_sea_level_SON_13 = np.concatenate((sea_surface_height_above_sea_level_SON_13_1, sea_surface_height_above_sea_level_SON_13_2, sea_surface_height_above_sea_level_SON_13_3), axis = 0)
sea_surface_height_above_sea_level_SON_13 = np.mean(sea_surface_height_above_sea_level_SON_13).reshape(-1,1)
sea_surface_height_above_sea_level_SON_14_1 = sea_surface_height_above_sea_level_93_19_mean[1911:1944].reshape(-1,1)
sea_surface_height_above_sea_level_SON_14_2 = sea_surface_height_above_sea_level_93_19_mean[1949:1972].reshape(-1,1)
sea_surface_height_above_sea_level_SON_14_3 = sea_surface_height_above_sea_level_93_19_mean[1977:1986].reshape(-1,1)
sea_surface_height_above_sea_level_SON_14 = np.concatenate((sea_surface_height_above_sea_level_SON_14_1, sea_surface_height_above_sea_level_SON_14_2, sea_surface_height_above_sea_level_SON_14_3), axis = 0)
sea_surface_height_above_sea_level_SON_14 = np.mean(sea_surface_height_above_sea_level_SON_14).reshape(-1,1)
sea_surface_height_above_sea_level_SON_15 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2078:2084]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_16 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2093:2184]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_17_1 = sea_surface_height_above_sea_level_93_19_mean[2192:2236].reshape(-1,1)
sea_surface_height_above_sea_level_SON_17_2 = sea_surface_height_above_sea_level_93_19_mean[2255:2275].reshape(-1,1)
sea_surface_height_above_sea_level_SON_17 = np.concatenate((sea_surface_height_above_sea_level_SON_17_1, sea_surface_height_above_sea_level_SON_17_2), axis = 0)
sea_surface_height_above_sea_level_SON_17 = np.mean(sea_surface_height_above_sea_level_SON_17).reshape(-1,1)
sea_surface_height_above_sea_level_SON_18_1 = sea_surface_height_above_sea_level_93_19_mean[2275:2297].reshape(-1,1)
sea_surface_height_above_sea_level_SON_18_2 = sea_surface_height_above_sea_level_93_19_mean[2324:2366].reshape(-1,1)
sea_surface_height_above_sea_level_SON_18 = np.concatenate((sea_surface_height_above_sea_level_SON_18_1, sea_surface_height_above_sea_level_SON_18_2), axis = 0)
sea_surface_height_above_sea_level_SON_18 = np.mean(sea_surface_height_above_sea_level_SON_18).reshape(-1,1)
sea_surface_height_above_sea_level_SON_19 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2366:]).reshape(-1,1)

In [156]:
sea_surface_height_above_sea_level_SON_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_sea_level_SON_93, sea_surface_height_above_sea_level_SON_94,
sea_surface_height_above_sea_level_SON_95, sea_surface_height_above_sea_level_SON_96,
sea_surface_height_above_sea_level_SON_97, sea_surface_height_above_sea_level_SON_98,
sea_surface_height_above_sea_level_SON_99, sea_surface_height_above_sea_level_SON_00,
sea_surface_height_above_sea_level_SON_01, sea_surface_height_above_sea_level_SON_02,
sea_surface_height_above_sea_level_SON_03, sea_surface_height_above_sea_level_SON_04,
sea_surface_height_above_sea_level_SON_05, sea_surface_height_above_sea_level_SON_06,
sea_surface_height_above_sea_level_SON_07, sea_surface_height_above_sea_level_SON_08,
sea_surface_height_above_sea_level_SON_09, sea_surface_height_above_sea_level_SON_10,
sea_surface_height_above_sea_level_SON_11, sea_surface_height_above_sea_level_SON_12,
sea_surface_height_above_sea_level_SON_13, sea_surface_height_above_sea_level_SON_14,
sea_surface_height_above_sea_level_SON_15, sea_surface_height_above_sea_level_SON_16,
sea_surface_height_above_sea_level_SON_17, sea_surface_height_above_sea_level_SON_18,
sea_surface_height_above_sea_level_SON_19), axis = 0).reshape(-1,1)

In [157]:
sea_surface_height_above_geoid_SON_93_19_without_MHW_mean.shape

(27, 1)

In [158]:
sea_surface_height_above_sea_level_SON_93_19_without_MHW_mean.shape

(27, 1)

In [159]:
np.savez(r'D:\博士工作\第三篇论文_MHW_AI\data\pacific\last\low_cloud\E_P_cloud_SON_Plot_with_without_MHW.npz',
         low_cloud_cover_SON_93_19_with_MHW_mean = sea_surface_height_above_geoid_93_19_mean_all,
         E_JJA_93_19_with_SON_mean = sea_surface_height_above_sea_level_93_19_mean_all,
        low_cloud_cover_SON_93_19_without_MHW_mean = sea_surface_height_above_geoid_SON_93_19_without_MHW_mean,
        E_P_cloud_SON_93_19_without_MHW_mean = sea_surface_height_above_sea_level_SON_93_19_without_MHW_mean)

In [160]:
sea_surface_height_above_geoid = low_cloud_cover
sea_surface_height_above_sea_level = potential_evaporation

In [161]:
# DJF   93
date_93_1 = 0
date_93_2 = 59
data_1 = date_93_1
data_2 = date_93_2

sea_surface_height_above_geoid_93 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_93 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [162]:
# DJF   94
date_94_1 = 334
date_94_2 = 424
data_1 = date_94_1
data_2 = date_94_2

sea_surface_height_above_geoid_94 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_94 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [163]:
# DJF   95
date_95_1 = 699
date_95_2 = 789
data_1 = date_95_1
data_2 = date_95_2

sea_surface_height_above_geoid_95 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_95 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [164]:
# DJF   96
date_96_1 = 1064
date_96_2 = 1155
data_1 = date_96_1
data_2 = date_96_2

sea_surface_height_above_geoid_96 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_96 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [165]:
# DJF   97
date_97_1 = 1430
date_97_2 = 1520
data_1 = date_97_1
data_2 = date_97_2

sea_surface_height_above_geoid_97 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_97 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [166]:
# DJF   98
date_98_1 = 1795
date_98_2 = 1885
data_1 = date_98_1
data_2 = date_98_2

sea_surface_height_above_geoid_98 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_98 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [167]:
# DJF   99
date_99_1 = 2160
date_99_2 = 2250
data_1 = date_99_1
data_2 = date_99_2

sea_surface_height_above_geoid_99 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_99 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [168]:
# DJF   00
date_00_1 = 2525
date_00_2 = 2616
data_1 = date_00_1
data_2 = date_00_2

sea_surface_height_above_geoid_00 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_00 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [169]:
# DJF   01
date_01_1 = 2891
date_01_2 = 2981
data_1 = date_01_1
data_2 = date_01_2

sea_surface_height_above_geoid_01 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_01 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [170]:
# DJF   02
date_02_1 = 3256
date_02_2 = 3346
data_1 = date_02_1
data_2 = date_02_2

sea_surface_height_above_geoid_02 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_02 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [171]:
# DJF   03
date_03_1 = 3621
date_03_2 = 3711
data_1 = date_03_1
data_2 = date_03_2

sea_surface_height_above_geoid_03 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_03 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [172]:
# DJF   04
date_04_1 = 3986
date_04_2 = 4077
data_1 = date_04_1
data_2 = date_04_2

sea_surface_height_above_geoid_04 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_04 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [173]:
# DJF   05
date_05_1 = 4352
date_05_2 = 4442
data_1 = date_05_1
data_2 = date_05_2

sea_surface_height_above_geoid_05 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_05 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [174]:
# DJF   06
date_06_1 = 4717
date_06_2 = 4807
data_1 = date_06_1
data_2 = date_06_2

sea_surface_height_above_geoid_06 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_06 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [175]:
# DJF   07
date_07_1 = 5082
date_07_2 = 5172
data_1 = date_07_1
data_2 = date_07_2

sea_surface_height_above_geoid_07 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_07 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [176]:
# DJF   08
date_08_1 = 5447
date_08_2 = 5538
data_1 = date_08_1
data_2 = date_08_2

sea_surface_height_above_geoid_08 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_08 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [177]:
# DJF   09
date_09_1 = 5813
date_09_2 = 5903
data_1 = date_09_1
data_2 = date_09_2

sea_surface_height_above_geoid_09 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_09 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [178]:
# DJF   10
date_10_1 = 6178
date_10_2 = 6268
data_1 = date_10_1
data_2 = date_10_2

sea_surface_height_above_geoid_10 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_10 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [179]:
# DJF   11
date_11_1 = 6543
date_11_2 = 6633
data_1 = date_11_1
data_2 = date_11_2

sea_surface_height_above_geoid_11 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_11 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [180]:
# DJF   12
date_12_1 = 6908
date_12_2 = 6999
data_1 = date_12_1
data_2 = date_12_2

sea_surface_height_above_geoid_12 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_12 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [181]:
# DJF   13
date_13_1 = 7274
date_13_2 = 7364
data_1 = date_13_1
data_2 = date_13_2

sea_surface_height_above_geoid_13 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_13 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [182]:
# DJF   14
date_14_1 = 7639
date_14_2 = 7729
data_1 = date_14_1
data_2 = date_14_2

sea_surface_height_above_geoid_14 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_14 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [183]:
# DJF   15
date_15_1 = 8004
date_15_2 = 8094
data_1 = date_15_1
data_2 = date_15_2

sea_surface_height_above_geoid_15 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_15 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [184]:
# DJF   16
date_16_1 = 8369
date_16_2 = 8460
data_1 = date_16_1
data_2 = date_16_2

sea_surface_height_above_geoid_16 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_16 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [185]:
# DJF   17
date_17_1 = 8735
date_17_2 = 8825
data_1 = date_17_1
data_2 = date_17_2

sea_surface_height_above_geoid_17 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_17 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [186]:
# DJF   18
date_18_1 = 9100
date_18_2 = 9190
data_1 = date_18_1
data_2 = date_18_2

sea_surface_height_above_geoid_18 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_18 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [187]:
# DJF   19
date_19_1 = 9452
date_19_2 = 9542
data_1 = date_19_1
data_2 = date_19_2

sea_surface_height_above_geoid_19 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_19 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [188]:
sea_surface_height_above_geoid_93_mean = np.mean((sea_surface_height_above_geoid_93), axis = (0,1,2)).reshape(-1,1)

In [189]:
sea_surface_height_above_geoid_94_mean = np.mean((sea_surface_height_above_geoid_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_95_mean = np.mean((sea_surface_height_above_geoid_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_96_mean = np.mean((sea_surface_height_above_geoid_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_97_mean = np.mean((sea_surface_height_above_geoid_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_98_mean = np.mean((sea_surface_height_above_geoid_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_99_mean = np.mean((sea_surface_height_above_geoid_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_00_mean = np.mean((sea_surface_height_above_geoid_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_01_mean = np.mean((sea_surface_height_above_geoid_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_02_mean = np.mean((sea_surface_height_above_geoid_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_03_mean = np.mean((sea_surface_height_above_geoid_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_04_mean = np.mean((sea_surface_height_above_geoid_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_05_mean = np.mean((sea_surface_height_above_geoid_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_06_mean = np.mean((sea_surface_height_above_geoid_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_07_mean = np.mean((sea_surface_height_above_geoid_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_08_mean = np.mean((sea_surface_height_above_geoid_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_09_mean = np.mean((sea_surface_height_above_geoid_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_10_mean = np.mean((sea_surface_height_above_geoid_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_11_mean = np.mean((sea_surface_height_above_geoid_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_12_mean = np.mean((sea_surface_height_above_geoid_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_13_mean = np.mean((sea_surface_height_above_geoid_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_14_mean = np.mean((sea_surface_height_above_geoid_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_15_mean = np.mean((sea_surface_height_above_geoid_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_16_mean = np.mean((sea_surface_height_above_geoid_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_17_mean = np.mean((sea_surface_height_above_geoid_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_18_mean = np.mean((sea_surface_height_above_geoid_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_19_mean = np.mean((sea_surface_height_above_geoid_19), axis = (0,1,2)).reshape(-1,1)

In [190]:
sea_surface_height_above_geoid_93_19_mean = np.concatenate((sea_surface_height_above_geoid_93,
sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95, sea_surface_height_above_geoid_96,
                                                           sea_surface_height_above_geoid_97, sea_surface_height_above_geoid_98,
                                                           sea_surface_height_above_geoid_99, sea_surface_height_above_geoid_00,
                                                           sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                           sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                           sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                           sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                           sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                           sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                           sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                           sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                           sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                           sea_surface_height_above_geoid_19), axis = 0)

In [191]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19_mean), axis = (1,2))

In [192]:
sea_surface_height_above_geoid_93_19_mean_all = np.concatenate((sea_surface_height_above_geoid_93_mean,
sea_surface_height_above_geoid_94_mean, sea_surface_height_above_geoid_95_mean, 
                                                                sea_surface_height_above_geoid_96_mean,
                                                           sea_surface_height_above_geoid_97_mean, sea_surface_height_above_geoid_98_mean,
                                                           sea_surface_height_above_geoid_99_mean, sea_surface_height_above_geoid_00_mean,
                                                           sea_surface_height_above_geoid_01_mean, sea_surface_height_above_geoid_02_mean,
                                                           sea_surface_height_above_geoid_03_mean, sea_surface_height_above_geoid_04_mean,
                                                           sea_surface_height_above_geoid_05_mean, sea_surface_height_above_geoid_06_mean,
                                                           sea_surface_height_above_geoid_07_mean, sea_surface_height_above_geoid_08_mean,
                                                           sea_surface_height_above_geoid_09_mean, sea_surface_height_above_geoid_10_mean,
                                                           sea_surface_height_above_geoid_11_mean, sea_surface_height_above_geoid_12_mean,
                                                           sea_surface_height_above_geoid_13_mean, sea_surface_height_above_geoid_14_mean,
                                                           sea_surface_height_above_geoid_15_mean, sea_surface_height_above_geoid_16_mean,
                                                           sea_surface_height_above_geoid_17_mean, sea_surface_height_above_geoid_18_mean,
                                                           sea_surface_height_above_geoid_19_mean), axis = 0)

In [193]:
sea_surface_height_above_sea_level_93_mean = np.mean((sea_surface_height_above_sea_level_93), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_94_mean = np.mean((sea_surface_height_above_sea_level_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_95_mean = np.mean((sea_surface_height_above_sea_level_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_96_mean = np.mean((sea_surface_height_above_sea_level_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_97_mean = np.mean((sea_surface_height_above_sea_level_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_98_mean = np.mean((sea_surface_height_above_sea_level_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_99_mean = np.mean((sea_surface_height_above_sea_level_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_00_mean = np.mean((sea_surface_height_above_sea_level_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_01_mean = np.mean((sea_surface_height_above_sea_level_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_02_mean = np.mean((sea_surface_height_above_sea_level_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_03_mean = np.mean((sea_surface_height_above_sea_level_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_04_mean = np.mean((sea_surface_height_above_sea_level_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_05_mean = np.mean((sea_surface_height_above_sea_level_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_06_mean = np.mean((sea_surface_height_above_sea_level_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_07_mean = np.mean((sea_surface_height_above_sea_level_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_08_mean = np.mean((sea_surface_height_above_sea_level_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_09_mean = np.mean((sea_surface_height_above_sea_level_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_10_mean = np.mean((sea_surface_height_above_sea_level_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_11_mean = np.mean((sea_surface_height_above_sea_level_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_12_mean = np.mean((sea_surface_height_above_sea_level_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_13_mean = np.mean((sea_surface_height_above_sea_level_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_14_mean = np.mean((sea_surface_height_above_sea_level_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_15_mean = np.mean((sea_surface_height_above_sea_level_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_16_mean = np.mean((sea_surface_height_above_sea_level_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_17_mean = np.mean((sea_surface_height_above_sea_level_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_18_mean = np.mean((sea_surface_height_above_sea_level_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_19_mean = np.mean((sea_surface_height_above_sea_level_19), axis = (0,1,2)).reshape(-1,1)

In [194]:
sea_surface_height_above_sea_level_93_19_mean_all = np.concatenate((
sea_surface_height_above_sea_level_93_mean, sea_surface_height_above_sea_level_94_mean,
sea_surface_height_above_sea_level_95_mean, sea_surface_height_above_sea_level_96_mean,
sea_surface_height_above_sea_level_97_mean, sea_surface_height_above_sea_level_98_mean,
sea_surface_height_above_sea_level_99_mean, sea_surface_height_above_sea_level_00_mean,
sea_surface_height_above_sea_level_01_mean, sea_surface_height_above_sea_level_02_mean,
sea_surface_height_above_sea_level_03_mean, sea_surface_height_above_sea_level_04_mean,
sea_surface_height_above_sea_level_05_mean, sea_surface_height_above_sea_level_06_mean,
sea_surface_height_above_sea_level_07_mean, sea_surface_height_above_sea_level_08_mean,
sea_surface_height_above_sea_level_09_mean, sea_surface_height_above_sea_level_10_mean,
sea_surface_height_above_sea_level_11_mean, sea_surface_height_above_sea_level_12_mean,
sea_surface_height_above_sea_level_13_mean, sea_surface_height_above_sea_level_14_mean,
sea_surface_height_above_sea_level_15_mean, sea_surface_height_above_sea_level_16_mean,
sea_surface_height_above_sea_level_17_mean, sea_surface_height_above_sea_level_18_mean,
sea_surface_height_above_sea_level_19_mean), axis = 0)

In [195]:
sea_surface_height_above_geoid_93_19 = np.concatenate((sea_surface_height_above_geoid_93,
                                                      sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95,
                                                      sea_surface_height_above_geoid_96, sea_surface_height_above_geoid_97,
                                                      sea_surface_height_above_geoid_98, sea_surface_height_above_geoid_99,
                                                      sea_surface_height_above_geoid_00,
                                                      sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                      sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                      sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                      sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                      sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                      sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                      sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                      sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                      sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                      sea_surface_height_above_geoid_19),axis = 0)

In [196]:
sea_surface_height_above_sea_level_93_19 = np.concatenate((sea_surface_height_above_sea_level_93,
sea_surface_height_above_sea_level_94, sea_surface_height_above_sea_level_95,
                                                          sea_surface_height_above_sea_level_96, sea_surface_height_above_sea_level_97,
                                                          sea_surface_height_above_sea_level_98, sea_surface_height_above_sea_level_99,
                                                          sea_surface_height_above_sea_level_00, sea_surface_height_above_sea_level_01,
                                                          sea_surface_height_above_sea_level_02, sea_surface_height_above_sea_level_03,
                                                          sea_surface_height_above_sea_level_04, sea_surface_height_above_sea_level_05,
                                                          sea_surface_height_above_sea_level_06, sea_surface_height_above_sea_level_07,
                                                          sea_surface_height_above_sea_level_08, sea_surface_height_above_sea_level_09,
                                                          sea_surface_height_above_sea_level_10, sea_surface_height_above_sea_level_11,
                                                          sea_surface_height_above_sea_level_12, sea_surface_height_above_sea_level_13,
                                                          sea_surface_height_above_sea_level_14, sea_surface_height_above_sea_level_15,
                                                          sea_surface_height_above_sea_level_16, sea_surface_height_above_sea_level_17,
                                                          sea_surface_height_above_sea_level_18, sea_surface_height_above_sea_level_19),axis = 0)

In [197]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19), axis = (1,2)).reshape(-1,1)

In [198]:
sea_surface_height_above_geoid_93_19_mean.shape

(2405, 1)

In [199]:
sea_surface_height_above_sea_level_93_19_mean = np.mean((sea_surface_height_above_sea_level_93_19), axis = (1,2)).reshape(-1,1)

In [200]:
sea_surface_height_above_sea_level_93_19_mean.shape

(2405, 1)

In [201]:
sea_surface_height_above_geoid_DJF_93 = np.mean(sea_surface_height_above_geoid_93_19_mean[:59]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_94 = np.mean(sea_surface_height_above_geoid_93_19_mean[59:149]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_95 = np.mean(sea_surface_height_above_geoid_93_19_mean[149:239]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_96 = np.mean(sea_surface_height_above_geoid_93_19_mean[239:330]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_97 = np.mean(sea_surface_height_above_geoid_93_19_mean[330:420]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_98_1 = sea_surface_height_above_geoid_93_19_mean[420:444].reshape(-1,1)
sea_surface_height_above_geoid_DJF_98_2 = sea_surface_height_above_geoid_93_19_mean[459:466].reshape(-1,1)
sea_surface_height_above_geoid_DJF_98_3 = sea_surface_height_above_geoid_93_19_mean[490:497].reshape(-1,1)
sea_surface_height_above_geoid_DJF_98 = np.mean(np.concatenate((sea_surface_height_above_geoid_DJF_98_1, sea_surface_height_above_geoid_DJF_98_2, sea_surface_height_above_geoid_DJF_98_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_DJF_99 = np.mean(sea_surface_height_above_geoid_93_19_mean[510:600]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_00 = np.mean(sea_surface_height_above_geoid_93_19_mean[600:691]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_01 = np.mean(sea_surface_height_above_geoid_93_19_mean[691:781]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_02 = np.mean(sea_surface_height_above_geoid_93_19_mean[781:871]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_03 = np.mean(sea_surface_height_above_geoid_93_19_mean[871:961]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_04 = np.mean(sea_surface_height_above_geoid_93_19_mean[961:1052]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_05 = np.mean(sea_surface_height_above_geoid_93_19_mean[1052:1142]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_06 = np.mean(sea_surface_height_above_geoid_93_19_mean[1142:1232]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_07_1 = sea_surface_height_above_geoid_93_19_mean[1232:1284].reshape(-1,1)
sea_surface_height_above_geoid_DJF_07_2 = sea_surface_height_above_geoid_93_19_mean[1289:1322].reshape(-1,1)
sea_surface_height_above_geoid_DJF_07 = np.mean(np.concatenate((sea_surface_height_above_geoid_DJF_07_1, sea_surface_height_above_geoid_DJF_07_2), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_DJF_08 = np.mean(sea_surface_height_above_geoid_93_19_mean[1322:1413]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_09 = np.mean(sea_surface_height_above_geoid_93_19_mean[1413:1503]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_10_1 = sea_surface_height_above_geoid_93_19_mean[1503:1507].reshape(-1,1)
sea_surface_height_above_geoid_DJF_10_2 = sea_surface_height_above_geoid_93_19_mean[1523:1547].reshape(-1,1)
sea_surface_height_above_geoid_DJF_10_3 = sea_surface_height_above_geoid_93_19_mean[1570:1577].reshape(-1,1)
sea_surface_height_above_geoid_DJF_10 = np.mean(np.concatenate((sea_surface_height_above_geoid_DJF_10_1, sea_surface_height_above_geoid_DJF_10_2, sea_surface_height_above_geoid_DJF_10_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_DJF_11 = np.mean(sea_surface_height_above_geoid_93_19_mean[1594:1684]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_12 = np.mean(sea_surface_height_above_geoid_93_19_mean[1684:1774]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_13_1 = sea_surface_height_above_geoid_93_19_mean[1774:1784].reshape(-1,1)
sea_surface_height_above_geoid_DJF_13_2 = sea_surface_height_above_geoid_93_19_mean[1794:1812].reshape(-1,1)
sea_surface_height_above_geoid_DJF_13_3 = sea_surface_height_above_geoid_93_19_mean[1820:1864].reshape(-1,1)
sea_surface_height_above_geoid_DJF_13 = np.mean(np.concatenate((sea_surface_height_above_geoid_DJF_13_1, sea_surface_height_above_geoid_DJF_13_2, sea_surface_height_above_geoid_DJF_13_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_geoid_DJF_14 = np.mean(sea_surface_height_above_geoid_93_19_mean[1864:1955]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_15 = np.mean(sea_surface_height_above_geoid_93_19_mean[1958:2045]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_17 = np.mean(sea_surface_height_above_geoid_93_19_mean[2135:2225]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_18 = np.mean(sea_surface_height_above_geoid_93_19_mean[2225:2315]).reshape(-1,1)
sea_surface_height_above_geoid_DJF_19_1 = sea_surface_height_above_geoid_93_19_mean[2325:2363].reshape(-1,1)
sea_surface_height_above_geoid_DJF_19_2 = sea_surface_height_above_geoid_93_19_mean[2369:2393].reshape(-1,1)
sea_surface_height_above_geoid_DJF_19_3 = sea_surface_height_above_geoid_93_19_mean[2398:].reshape(-1,1)
sea_surface_height_above_geoid_DJF_19 = np.mean(np.concatenate((sea_surface_height_above_geoid_DJF_19_1, sea_surface_height_above_geoid_DJF_19_2, sea_surface_height_above_geoid_DJF_19_3), axis = 0)).reshape(-1,1)

In [202]:
sea_surface_height_above_geoid_DJF_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_geoid_DJF_93, sea_surface_height_above_geoid_DJF_94,
sea_surface_height_above_geoid_DJF_95, sea_surface_height_above_geoid_DJF_96,
sea_surface_height_above_geoid_DJF_97, sea_surface_height_above_geoid_DJF_98,
sea_surface_height_above_geoid_DJF_99, sea_surface_height_above_geoid_DJF_00,
sea_surface_height_above_geoid_DJF_01, sea_surface_height_above_geoid_DJF_02,
sea_surface_height_above_geoid_DJF_03, sea_surface_height_above_geoid_DJF_04,
sea_surface_height_above_geoid_DJF_05, sea_surface_height_above_geoid_DJF_06,
sea_surface_height_above_geoid_DJF_07, sea_surface_height_above_geoid_DJF_08,
sea_surface_height_above_geoid_DJF_09, sea_surface_height_above_geoid_DJF_10,
sea_surface_height_above_geoid_DJF_11, sea_surface_height_above_geoid_DJF_12,
sea_surface_height_above_geoid_DJF_13, sea_surface_height_above_geoid_DJF_14,
sea_surface_height_above_geoid_DJF_15,
sea_surface_height_above_geoid_DJF_17, sea_surface_height_above_geoid_DJF_18,
sea_surface_height_above_geoid_DJF_19), axis = 0).reshape(-1,1)

In [203]:
sea_surface_height_above_sea_level_DJF_93 = np.mean(sea_surface_height_above_sea_level_93_19_mean[:59]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_94 = np.mean(sea_surface_height_above_sea_level_93_19_mean[59:149]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_95 = np.mean(sea_surface_height_above_sea_level_93_19_mean[149:239]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_96 = np.mean(sea_surface_height_above_sea_level_93_19_mean[239:330]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_97 = np.mean(sea_surface_height_above_sea_level_93_19_mean[330:420]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_98_1 = sea_surface_height_above_sea_level_93_19_mean[420:444].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_98_2 = sea_surface_height_above_sea_level_93_19_mean[459:466].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_98_3 = sea_surface_height_above_sea_level_93_19_mean[490:497].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_98 = np.mean(np.concatenate((sea_surface_height_above_sea_level_DJF_98_1, sea_surface_height_above_sea_level_DJF_98_2, sea_surface_height_above_sea_level_DJF_98_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_99 = np.mean(sea_surface_height_above_sea_level_93_19_mean[510:600]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_00 = np.mean(sea_surface_height_above_sea_level_93_19_mean[600:691]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_01 = np.mean(sea_surface_height_above_sea_level_93_19_mean[691:781]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_02 = np.mean(sea_surface_height_above_sea_level_93_19_mean[781:871]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_03 = np.mean(sea_surface_height_above_sea_level_93_19_mean[871:961]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_04 = np.mean(sea_surface_height_above_sea_level_93_19_mean[961:1052]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_05 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1052:1142]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_06 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1142:1232]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_07_1 = sea_surface_height_above_sea_level_93_19_mean[1232:1284].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_07_2 = sea_surface_height_above_sea_level_93_19_mean[1289:1322].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_07 = np.mean(np.concatenate((sea_surface_height_above_sea_level_DJF_07_1, sea_surface_height_above_sea_level_DJF_07_2), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_08 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1322:1413]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_09 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1413:1503]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_10_1 = sea_surface_height_above_sea_level_93_19_mean[1503:1507].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_10_2 = sea_surface_height_above_sea_level_93_19_mean[1523:1547].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_10_3 = sea_surface_height_above_sea_level_93_19_mean[1570:1577].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_10 = np.mean(np.concatenate((sea_surface_height_above_sea_level_DJF_10_1, sea_surface_height_above_sea_level_DJF_10_2, sea_surface_height_above_sea_level_DJF_10_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_11 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1594:1684]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_12 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1684:1774]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_13_1 = sea_surface_height_above_sea_level_93_19_mean[1774:1784].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_13_2 = sea_surface_height_above_sea_level_93_19_mean[1794:1812].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_13_3 = sea_surface_height_above_sea_level_93_19_mean[1820:1864].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_13 = np.mean(np.concatenate((sea_surface_height_above_sea_level_DJF_13_1, sea_surface_height_above_sea_level_DJF_13_2, sea_surface_height_above_sea_level_DJF_13_3), axis = 0)).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_14 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1864:1955]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_15 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1958:2045]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_17 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2135:2225]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_18 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2225:2315]).reshape(-1,1)
sea_surface_height_above_sea_level_DJF_19_1 = sea_surface_height_above_sea_level_93_19_mean[2325:2363].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_19_2 = sea_surface_height_above_sea_level_93_19_mean[2369:2393].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_19_3 = sea_surface_height_above_sea_level_93_19_mean[2398:].reshape(-1,1)
sea_surface_height_above_sea_level_DJF_19 = np.mean(np.concatenate((sea_surface_height_above_sea_level_DJF_19_1, sea_surface_height_above_sea_level_DJF_19_2, sea_surface_height_above_sea_level_DJF_19_3), axis = 0)).reshape(-1,1)

In [204]:
sea_surface_height_above_sea_level_DJF_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_sea_level_DJF_93, sea_surface_height_above_sea_level_DJF_94,
sea_surface_height_above_sea_level_DJF_95, sea_surface_height_above_sea_level_DJF_96,
sea_surface_height_above_sea_level_DJF_97, sea_surface_height_above_sea_level_DJF_98,
sea_surface_height_above_sea_level_DJF_99, sea_surface_height_above_sea_level_DJF_00,
sea_surface_height_above_sea_level_DJF_01, sea_surface_height_above_sea_level_DJF_02,
sea_surface_height_above_sea_level_DJF_03, sea_surface_height_above_sea_level_DJF_04,
sea_surface_height_above_sea_level_DJF_05, sea_surface_height_above_sea_level_DJF_06,
sea_surface_height_above_sea_level_DJF_07, sea_surface_height_above_sea_level_DJF_08,
sea_surface_height_above_sea_level_DJF_09, sea_surface_height_above_sea_level_DJF_10,
sea_surface_height_above_sea_level_DJF_11, sea_surface_height_above_sea_level_DJF_12,
sea_surface_height_above_sea_level_DJF_13, sea_surface_height_above_sea_level_DJF_14,
sea_surface_height_above_sea_level_DJF_15, 
sea_surface_height_above_sea_level_DJF_17, sea_surface_height_above_sea_level_DJF_18,
sea_surface_height_above_sea_level_DJF_19), axis = 0).reshape(-1,1)

In [205]:
sea_surface_height_above_geoid_DJF_93_19_without_MHW_mean.shape

(26, 1)

In [206]:
np.savez(r'D:\博士工作\第三篇论文_MHW_AI\data\pacific\last\low_cloud\E_P_cloud_DJF_Plot_with_without_MHW.npz',
         low_cloud_cover_DJF_93_19_with_MHW_mean = sea_surface_height_above_geoid_93_19_mean_all,
         E_JJA_93_19_with_DJF_mean = sea_surface_height_above_sea_level_93_19_mean_all,
        low_cloud_cover_DJF_93_19_without_MHW_mean = sea_surface_height_above_geoid_DJF_93_19_without_MHW_mean,
        E_P_DJF_93_19_without_MHW_mean = sea_surface_height_above_sea_level_DJF_93_19_without_MHW_mean)