In [1]:
import random

import numpy as np
import torch
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from torch import nn
from tqdm import tqdm
from torch.autograd import Variable
from torch.utils.data import Dataset, DataLoader

In [4]:
data = np.load(r'D:\heat_wave\atlantic\expand_area1\ssh\ssh_93_19_atlantic_area.npz')
print(data.files) # ['sst_obser', 'slfh', 'sshf', 'ssr', 'str', 'mld', 'analysis_temp', 'u', 'v', 'T_d', 'u_d', 'v_d', 'xx', 'yy', 'dT_dt', 'dT_dx', 'dT_dy']

['time', 'lat', 'lon', 'sea_surface_height_above_geoid', 'surface_geostrophic_eastward_sea_water_velocity', 'surface_geostrophic_northward_sea_water_velocity', 'sea_surface_height_above_sea_level', 'surface_geostrophic_eastward_sea_water_velocity_assuming_sea_level_for_geoid', 'surface_geostrophic_northward_sea_water_velocity_assuming_sea_level_for_geoid']

In [5]:
sea_surface_height_above_geoid = data['sea_surface_height_above_geoid'][:]
sea_surface_height_above_sea_level = data['sea_surface_height_above_sea_level'][:]

In [6]:
sea_surface_height_above_geoid.shape

(9861, 82, 81)

In [7]:
# JJA   93
date_93_1 = 151
date_93_2 = 243
data_1 = date_93_1
data_2 = date_93_2

sea_surface_height_above_geoid_93 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_93 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [8]:
# JJA   94
date_94_1 = 516
date_94_2 = 608
data_1 = date_94_1
data_2 = date_94_2

sea_surface_height_above_geoid_94 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_94 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [9]:
# JJA   95
date_95_1 = 881
date_95_2 = 973
data_1 = date_95_1
data_2 = date_95_2

sea_surface_height_above_geoid_95 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_95 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [10]:
# JJA   96
date_96_1 = 1247
date_96_2 = 1339
data_1 = date_96_1
data_2 = date_96_2

sea_surface_height_above_geoid_96 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_96 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [11]:
# JJA   97
date_97_1 = 1612
date_97_2 = 1704
data_1 = date_97_1
data_2 = date_97_2

sea_surface_height_above_geoid_97 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_97 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [12]:
# JJA   98
date_98_1 = 1977
date_98_2 = 2069
data_1 = date_98_1
data_2 = date_98_2

sea_surface_height_above_geoid_98 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_98 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [13]:
# JJA   99
date_99_1 = 2324
date_99_2 = 2434
data_1 = date_99_1
data_2 = date_99_2

sea_surface_height_above_geoid_99 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_99 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [14]:
# JJA   00
date_00_1 = 2708
date_00_2 = 2799
data_1 = date_00_1
data_2 = date_00_2

sea_surface_height_above_geoid_00 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_00 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [15]:
# JJA   01
date_01_1 = 3073
date_01_2 = 3165
data_1 = date_01_1
data_2 = date_01_2

sea_surface_height_above_geoid_01 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_01 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [16]:
# JJA   02
date_02_1 = 3438
date_02_2 = 3529
data_1 = date_02_1
data_2 = date_02_2

sea_surface_height_above_geoid_02 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_02 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [17]:
# JJA   03
date_03_1 = 3803
date_03_2 = 3895
data_1 = date_03_1
data_2 = date_03_2

sea_surface_height_above_geoid_03 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_03 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [18]:
# JJA   04
date_04_1 = 4169
date_04_2 = 4261
data_1 = date_04_1
data_2 = date_04_2

sea_surface_height_above_geoid_04 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_04 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [19]:
# JJA   05
date_05_1 = 4534
date_05_2 = 4626
data_1 = date_05_1
data_2 = date_05_2

sea_surface_height_above_geoid_05 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_05 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [20]:
# JJA   06
date_06_1 = 4899
date_06_2 = 4990
data_1 = date_06_1
data_2 = date_06_2

sea_surface_height_above_geoid_06 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_06 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [21]:
# JJA   07
date_07_1 = 5264
date_07_2 = 5356
data_1 = date_07_1
data_2 = date_07_2

sea_surface_height_above_geoid_07 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_07 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [22]:
# JJA   08
date_08_1 = 5630
date_08_2 = 5722
data_1 = date_08_1
data_2 = date_08_2

sea_surface_height_above_geoid_08 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_08 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [23]:
# JJA   09
date_09_1 = 5995
date_09_2 = 6087
data_1 = date_09_1
data_2 = date_09_2

sea_surface_height_above_geoid_09 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_09 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [24]:
# JJA   10
date_10_1 = 6360
date_10_2 = 6452
data_1 = date_10_1
data_2 = date_10_2

sea_surface_height_above_geoid_10 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_10 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [25]:
# JJA   11
date_11_1 = 6725
date_11_2 = 6817
data_1 = date_11_1
data_2 = date_11_2

sea_surface_height_above_geoid_11 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_11 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [26]:
# JJA   12
date_12_1 = 7091
date_12_2 = 7183
data_1 = date_12_1
data_2 = date_12_2

sea_surface_height_above_geoid_12 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_12 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [27]:
# JJA   13
date_13_1 = 7456
date_13_2 = 7548
data_1 = date_13_1
data_2 = date_13_2

sea_surface_height_above_geoid_13 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_13 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [28]:
# JJA   14
date_14_1 = 7821
date_14_2 = 7913
data_1 = date_14_1
data_2 = date_14_2

sea_surface_height_above_geoid_14 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_14 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [29]:
# JJA   15
date_15_1 = 8186
date_15_2 = 8278
data_1 = date_15_1
data_2 = date_15_2

sea_surface_height_above_geoid_15 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_15 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [30]:
# JJA   16
date_16_1 = 8552
date_16_2 = 8644
data_1 = date_16_1
data_2 = date_16_2

sea_surface_height_above_geoid_16 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_16 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [31]:
# JJA   17
date_17_1 = 8917
date_17_2 = 9009
data_1 = date_17_1
data_2 = date_17_2

sea_surface_height_above_geoid_17 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_17 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [32]:
# JJA   18
date_18_1 = 9282
date_18_2 = 9374
data_1 = date_18_1
data_2 = date_18_2

sea_surface_height_above_geoid_18 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_18 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [33]:
# JJA   19
date_19_1 = 9647
date_19_2 = 9739
data_1 = date_19_1
data_2 = date_19_2

sea_surface_height_above_geoid_19 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_19 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [34]:
sea_surface_height_above_geoid_93_19 = np.concatenate((sea_surface_height_above_geoid_93,
                                                      sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95,
                                                      sea_surface_height_above_geoid_96, sea_surface_height_above_geoid_97,
                                                      sea_surface_height_above_geoid_98, sea_surface_height_above_geoid_99,
                                                      sea_surface_height_above_geoid_00,
                                                      sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                      sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                      sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                      sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                      sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                      sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                      sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                      sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                      sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                      sea_surface_height_above_geoid_19),axis = 0)

In [35]:
sea_surface_height_above_sea_level_93_19 = np.concatenate((
sea_surface_height_above_sea_level_93, sea_surface_height_above_sea_level_94,
sea_surface_height_above_sea_level_95, sea_surface_height_above_sea_level_96,
sea_surface_height_above_sea_level_97, sea_surface_height_above_sea_level_98,
sea_surface_height_above_sea_level_99, sea_surface_height_above_sea_level_00,
sea_surface_height_above_sea_level_01, sea_surface_height_above_sea_level_02,
sea_surface_height_above_sea_level_03, sea_surface_height_above_sea_level_04,
sea_surface_height_above_sea_level_05, sea_surface_height_above_sea_level_06,
sea_surface_height_above_sea_level_07, sea_surface_height_above_sea_level_08,
sea_surface_height_above_sea_level_09, sea_surface_height_above_sea_level_10,
sea_surface_height_above_sea_level_11, sea_surface_height_above_sea_level_12,
sea_surface_height_above_sea_level_13, sea_surface_height_above_sea_level_14,
sea_surface_height_above_sea_level_15, sea_surface_height_above_sea_level_16,
sea_surface_height_above_sea_level_17, sea_surface_height_above_sea_level_18,
sea_surface_height_above_sea_level_19),axis = 0)

In [36]:
np.savez(r'D:\heat_wave\atlantic\expand_area1\ssh\JJA_SSH.npz',
        sea_surface_height_above_geoid =  sea_surface_height_above_geoid_93_19,
        sea_surface_height_above_sea_level = sea_surface_height_above_sea_level_93_19)

In [34]:
sea_surface_height_above_sea_level_93_19.shape

(2499, 65, 49)

In [35]:
sea_surface_height_above_geoid_93_19.shape

(2499, 65, 49)