In [1]:
import random

import numpy as np
import torch
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from torch import nn
from tqdm import tqdm
from torch.autograd import Variable
from torch.utils.data import Dataset, DataLoader

In [2]:
data = np.load(r'D:\heat_wave\pacific\last\ssh\ssh_93_19_expand_pacific_area.npz')
print(data.files) # ['sst_obser', 'slfh', 'sshf', 'ssr', 'str', 'mld', 'analysis_temp', 'u', 'v', 'T_d', 'u_d', 'v_d', 'xx', 'yy', 'dT_dt', 'dT_dx', 'dT_dy']

['time', 'lat', 'lon', 'sea_surface_height_above_geoid', 'surface_geostrophic_eastward_sea_water_velocity', 'surface_geostrophic_northward_sea_water_velocity', 'sea_surface_height_above_sea_level', 'surface_geostrophic_eastward_sea_water_velocity_assuming_sea_level_for_geoid', 'surface_geostrophic_northward_sea_water_velocity_assuming_sea_level_for_geoid']

In [3]:
sea_surface_height_above_geoid = data['sea_surface_height_above_geoid'][:]
sea_surface_height_above_sea_level = data['sea_surface_height_above_sea_level'][:]

In [4]:
# SON   93
date_93_1 = 243
date_93_2 = 334
data_1 = date_93_1
data_2 = date_93_2

sea_surface_height_above_geoid_93 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_93 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [5]:
# SON   94
date_94_1 = 608
date_94_2 = 699
data_1 = date_94_1
data_2 = date_94_2

sea_surface_height_above_geoid_94 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_94 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [6]:
# SON   95
date_95_1 = 973
date_95_2 = 1064
data_1 = date_95_1
data_2 = date_95_2

sea_surface_height_above_geoid_95 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_95 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [7]:
# SON   96
date_96_1 = 1339
date_96_2 = 1430
data_1 = date_96_1
data_2 = date_96_2

sea_surface_height_above_geoid_96 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_96 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [8]:
# SON   97
date_97_1 = 1704
date_97_2 = 1795
data_1 = date_97_1
data_2 = date_97_2

sea_surface_height_above_geoid_97 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_97 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [9]:
# SON   98
date_98_1 = 2069
date_98_2 = 2160
data_1 = date_98_1
data_2 = date_98_2

sea_surface_height_above_geoid_98 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_98 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [10]:
# SON   99
date_99_1 = 2434
date_99_2 = 2525
data_1 = date_99_1
data_2 = date_99_2

sea_surface_height_above_geoid_99 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_99 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [11]:
# SON   00
date_00_1 = 2800
date_00_2 = 2891
data_1 = date_00_1
data_2 = date_00_2

sea_surface_height_above_geoid_00 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_00 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [12]:
# SON   01
date_01_1 = 3165
date_01_2 = 3256
data_1 = date_01_1
data_2 = date_01_2

sea_surface_height_above_geoid_01 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_01 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [13]:
# SON   02
date_02_1 = 3529
date_02_2 = 3620
data_1 = date_02_1
data_2 = date_02_2

sea_surface_height_above_geoid_02 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_02 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [14]:
# SON   03
date_03_1 = 3895
date_03_2 = 3986
data_1 = date_03_1
data_2 = date_03_2

sea_surface_height_above_geoid_03 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_03 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [15]:
# SON   04
date_04_1 = 4261
date_04_2 = 4352
data_1 = date_04_1
data_2 = date_04_2

sea_surface_height_above_geoid_04 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_04 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [16]:
# SON   05
date_05_1 = 4626
date_05_2 = 4717
data_1 = date_05_1
data_2 = date_05_2

sea_surface_height_above_geoid_05 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_05 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [17]:
# SON   06
date_06_1 = 4990
date_06_2 = 5081
data_1 = date_06_1
data_2 = date_06_2

sea_surface_height_above_geoid_06 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_06 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [18]:
# SON   07
date_07_1 = 5356
date_07_2 = 5447
data_1 = date_07_1
data_2 = date_07_2

sea_surface_height_above_geoid_07 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_07 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [19]:
# SON   08
date_08_1 = 5722
date_08_2 = 5813
data_1 = date_08_1
data_2 = date_08_2

sea_surface_height_above_geoid_08 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_08 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [20]:
# SON   09
date_09_1 = 6087
date_09_2 = 6178
data_1 = date_09_1
data_2 = date_09_2

sea_surface_height_above_geoid_09 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_09 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [21]:
# SON   10
date_10_1 = 6452
date_10_2 = 6543
data_1 = date_10_1
data_2 = date_10_2

sea_surface_height_above_geoid_10 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_10 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [22]:
# SON   11
date_11_1 = 6817
date_11_2 = 6908
data_1 = date_11_1
data_2 = date_11_2

sea_surface_height_above_geoid_11 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_11 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [23]:
# SON   12
date_12_1 = 7183
date_12_2 = 7274
data_1 = date_12_1
data_2 = date_12_2

sea_surface_height_above_geoid_12 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_12 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [24]:
# SON   13
date_13_1 = 7548
date_13_2 = 7639
data_1 = date_13_1
data_2 = date_13_2

sea_surface_height_above_geoid_13 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_13 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [25]:
# SON   14
date_14_1 = 7913
date_14_2 = 8004
data_1 = date_14_1
data_2 = date_14_2

sea_surface_height_above_geoid_14 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_14 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [26]:
# SON   15
date_15_1 = 8278
date_15_2 = 8369
data_1 = date_15_1
data_2 = date_15_2

sea_surface_height_above_geoid_15 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_15 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [27]:
# SON   16
date_16_1 = 8644
date_16_2 = 8735
data_1 = date_16_1
data_2 = date_16_2

sea_surface_height_above_geoid_16 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_16 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [28]:
# SON   17
date_17_1 = 9009
date_17_2 = 9100
data_1 = date_17_1
data_2 = date_17_2

sea_surface_height_above_geoid_17 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_17 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [29]:
# SON   18
date_18_1 = 9374
date_18_2 = 9465
data_1 = date_18_1
data_2 = date_18_2

sea_surface_height_above_geoid_18 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_18 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [30]:
# SON   19
date_19_1 = 9739
date_19_2 = 9830
data_1 = date_19_1
data_2 = date_19_2

sea_surface_height_above_geoid_19 = sea_surface_height_above_geoid[data_1:data_2,:,:]
sea_surface_height_above_sea_level_19 = sea_surface_height_above_sea_level[data_1:data_2,:,:]

In [31]:
sea_surface_height_above_geoid_93_mean = np.mean((sea_surface_height_above_geoid_93), axis = (0,1,2)).reshape(-1,1)

In [32]:
sea_surface_height_above_geoid_94_mean = np.mean((sea_surface_height_above_geoid_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_95_mean = np.mean((sea_surface_height_above_geoid_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_96_mean = np.mean((sea_surface_height_above_geoid_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_97_mean = np.mean((sea_surface_height_above_geoid_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_98_mean = np.mean((sea_surface_height_above_geoid_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_99_mean = np.mean((sea_surface_height_above_geoid_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_00_mean = np.mean((sea_surface_height_above_geoid_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_01_mean = np.mean((sea_surface_height_above_geoid_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_02_mean = np.mean((sea_surface_height_above_geoid_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_03_mean = np.mean((sea_surface_height_above_geoid_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_04_mean = np.mean((sea_surface_height_above_geoid_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_05_mean = np.mean((sea_surface_height_above_geoid_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_06_mean = np.mean((sea_surface_height_above_geoid_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_07_mean = np.mean((sea_surface_height_above_geoid_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_08_mean = np.mean((sea_surface_height_above_geoid_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_09_mean = np.mean((sea_surface_height_above_geoid_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_10_mean = np.mean((sea_surface_height_above_geoid_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_11_mean = np.mean((sea_surface_height_above_geoid_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_12_mean = np.mean((sea_surface_height_above_geoid_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_13_mean = np.mean((sea_surface_height_above_geoid_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_14_mean = np.mean((sea_surface_height_above_geoid_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_15_mean = np.mean((sea_surface_height_above_geoid_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_16_mean = np.mean((sea_surface_height_above_geoid_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_17_mean = np.mean((sea_surface_height_above_geoid_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_18_mean = np.mean((sea_surface_height_above_geoid_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_geoid_19_mean = np.mean((sea_surface_height_above_geoid_19), axis = (0,1,2)).reshape(-1,1)

In [33]:
sea_surface_height_above_geoid_93_19_mean = np.concatenate((sea_surface_height_above_geoid_93,
sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95, sea_surface_height_above_geoid_96,
                                                           sea_surface_height_above_geoid_97, sea_surface_height_above_geoid_98,
                                                           sea_surface_height_above_geoid_99, sea_surface_height_above_geoid_00,
                                                           sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                           sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                           sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                           sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                           sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                           sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                           sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                           sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                           sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                           sea_surface_height_above_geoid_19), axis = 0)

In [34]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19_mean), axis = (1,2))

In [35]:
sea_surface_height_above_geoid_93_19_mean_all = np.concatenate((sea_surface_height_above_geoid_93_mean,
sea_surface_height_above_geoid_94_mean, sea_surface_height_above_geoid_95_mean, 
                                                                sea_surface_height_above_geoid_96_mean,
                                                           sea_surface_height_above_geoid_97_mean, sea_surface_height_above_geoid_98_mean,
                                                           sea_surface_height_above_geoid_99_mean, sea_surface_height_above_geoid_00_mean,
                                                           sea_surface_height_above_geoid_01_mean, sea_surface_height_above_geoid_02_mean,
                                                           sea_surface_height_above_geoid_03_mean, sea_surface_height_above_geoid_04_mean,
                                                           sea_surface_height_above_geoid_05_mean, sea_surface_height_above_geoid_06_mean,
                                                           sea_surface_height_above_geoid_07_mean, sea_surface_height_above_geoid_08_mean,
                                                           sea_surface_height_above_geoid_09_mean, sea_surface_height_above_geoid_10_mean,
                                                           sea_surface_height_above_geoid_11_mean, sea_surface_height_above_geoid_12_mean,
                                                           sea_surface_height_above_geoid_13_mean, sea_surface_height_above_geoid_14_mean,
                                                           sea_surface_height_above_geoid_15_mean, sea_surface_height_above_geoid_16_mean,
                                                           sea_surface_height_above_geoid_17_mean, sea_surface_height_above_geoid_18_mean,
                                                           sea_surface_height_above_geoid_19_mean), axis = 0)

In [36]:
sea_surface_height_above_sea_level_93_mean = np.mean((sea_surface_height_above_sea_level_93), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_94_mean = np.mean((sea_surface_height_above_sea_level_94), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_95_mean = np.mean((sea_surface_height_above_sea_level_95), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_96_mean = np.mean((sea_surface_height_above_sea_level_96), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_97_mean = np.mean((sea_surface_height_above_sea_level_97), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_98_mean = np.mean((sea_surface_height_above_sea_level_98), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_99_mean = np.mean((sea_surface_height_above_sea_level_99), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_00_mean = np.mean((sea_surface_height_above_sea_level_00), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_01_mean = np.mean((sea_surface_height_above_sea_level_01), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_02_mean = np.mean((sea_surface_height_above_sea_level_02), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_03_mean = np.mean((sea_surface_height_above_sea_level_03), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_04_mean = np.mean((sea_surface_height_above_sea_level_04), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_05_mean = np.mean((sea_surface_height_above_sea_level_05), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_06_mean = np.mean((sea_surface_height_above_sea_level_06), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_07_mean = np.mean((sea_surface_height_above_sea_level_07), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_08_mean = np.mean((sea_surface_height_above_sea_level_08), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_09_mean = np.mean((sea_surface_height_above_sea_level_09), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_10_mean = np.mean((sea_surface_height_above_sea_level_10), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_11_mean = np.mean((sea_surface_height_above_sea_level_11), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_12_mean = np.mean((sea_surface_height_above_sea_level_12), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_13_mean = np.mean((sea_surface_height_above_sea_level_13), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_14_mean = np.mean((sea_surface_height_above_sea_level_14), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_15_mean = np.mean((sea_surface_height_above_sea_level_15), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_16_mean = np.mean((sea_surface_height_above_sea_level_16), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_17_mean = np.mean((sea_surface_height_above_sea_level_17), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_18_mean = np.mean((sea_surface_height_above_sea_level_18), axis = (0,1,2)).reshape(-1,1)
sea_surface_height_above_sea_level_19_mean = np.mean((sea_surface_height_above_sea_level_19), axis = (0,1,2)).reshape(-1,1)

In [37]:
sea_surface_height_above_sea_level_93_19_mean_all = np.concatenate((
sea_surface_height_above_sea_level_93_mean, sea_surface_height_above_sea_level_94_mean,
sea_surface_height_above_sea_level_95_mean, sea_surface_height_above_sea_level_96_mean,
sea_surface_height_above_sea_level_97_mean, sea_surface_height_above_sea_level_98_mean,
sea_surface_height_above_sea_level_99_mean, sea_surface_height_above_sea_level_00_mean,
sea_surface_height_above_sea_level_01_mean, sea_surface_height_above_sea_level_02_mean,
sea_surface_height_above_sea_level_03_mean, sea_surface_height_above_sea_level_04_mean,
sea_surface_height_above_sea_level_05_mean, sea_surface_height_above_sea_level_06_mean,
sea_surface_height_above_sea_level_07_mean, sea_surface_height_above_sea_level_08_mean,
sea_surface_height_above_sea_level_09_mean, sea_surface_height_above_sea_level_10_mean,
sea_surface_height_above_sea_level_11_mean, sea_surface_height_above_sea_level_12_mean,
sea_surface_height_above_sea_level_13_mean, sea_surface_height_above_sea_level_14_mean,
sea_surface_height_above_sea_level_15_mean, sea_surface_height_above_sea_level_16_mean,
sea_surface_height_above_sea_level_17_mean, sea_surface_height_above_sea_level_18_mean,
sea_surface_height_above_sea_level_19_mean), axis = 0)

In [38]:
# 去除MHW

In [39]:
sea_surface_height_above_geoid_93_19 = np.concatenate((sea_surface_height_above_geoid_93,
                                                      sea_surface_height_above_geoid_94, sea_surface_height_above_geoid_95,
                                                      sea_surface_height_above_geoid_96, sea_surface_height_above_geoid_97,
                                                      sea_surface_height_above_geoid_98, sea_surface_height_above_geoid_99,
                                                      sea_surface_height_above_geoid_00,
                                                      sea_surface_height_above_geoid_01, sea_surface_height_above_geoid_02,
                                                      sea_surface_height_above_geoid_03, sea_surface_height_above_geoid_04,
                                                      sea_surface_height_above_geoid_05, sea_surface_height_above_geoid_06,
                                                      sea_surface_height_above_geoid_07, sea_surface_height_above_geoid_08,
                                                      sea_surface_height_above_geoid_09, sea_surface_height_above_geoid_10,
                                                      sea_surface_height_above_geoid_11, sea_surface_height_above_geoid_12,
                                                      sea_surface_height_above_geoid_13, sea_surface_height_above_geoid_14,
                                                      sea_surface_height_above_geoid_15, sea_surface_height_above_geoid_16,
                                                      sea_surface_height_above_geoid_17, sea_surface_height_above_geoid_18,
                                                      sea_surface_height_above_geoid_19),axis = 0)

In [40]:
sea_surface_height_above_sea_level_93_19 = np.concatenate((sea_surface_height_above_sea_level_93,
sea_surface_height_above_sea_level_94, sea_surface_height_above_sea_level_95,
                                                          sea_surface_height_above_sea_level_96, sea_surface_height_above_sea_level_97,
                                                          sea_surface_height_above_sea_level_98, sea_surface_height_above_sea_level_99,
                                                          sea_surface_height_above_sea_level_00, sea_surface_height_above_sea_level_01,
                                                          sea_surface_height_above_sea_level_02, sea_surface_height_above_sea_level_03,
                                                          sea_surface_height_above_sea_level_04, sea_surface_height_above_sea_level_05,
                                                          sea_surface_height_above_sea_level_06, sea_surface_height_above_sea_level_07,
                                                          sea_surface_height_above_sea_level_08, sea_surface_height_above_sea_level_09,
                                                          sea_surface_height_above_sea_level_10, sea_surface_height_above_sea_level_11,
                                                          sea_surface_height_above_sea_level_12, sea_surface_height_above_sea_level_13,
                                                          sea_surface_height_above_sea_level_14, sea_surface_height_above_sea_level_15,
                                                          sea_surface_height_above_sea_level_16, sea_surface_height_above_sea_level_17,
                                                          sea_surface_height_above_sea_level_18, sea_surface_height_above_sea_level_19),axis = 0)

In [41]:
sea_surface_height_above_geoid_93_19_mean = np.mean((sea_surface_height_above_geoid_93_19), axis = (1,2)).reshape(-1,1)

In [42]:
sea_surface_height_above_geoid_93_19_mean.shape

(2457, 1)

In [43]:
sea_surface_height_above_sea_level_93_19_mean = np.mean((sea_surface_height_above_sea_level_93_19), axis = (1,2)).reshape(-1,1)

In [44]:
sea_surface_height_above_sea_level_93_19_mean.shape

(2457, 1)

In [45]:
sea_surface_height_above_geoid_SON_93 = np.mean(sea_surface_height_above_geoid_93_19_mean[:91]).reshape(-1,1)
sea_surface_height_above_geoid_SON_94 = np.mean(sea_surface_height_above_geoid_93_19_mean[91:182]).reshape(-1,1)
sea_surface_height_above_geoid_SON_95 = np.mean(sea_surface_height_above_geoid_93_19_mean[182:273]).reshape(-1,1)
sea_surface_height_above_geoid_SON_96 = np.mean(sea_surface_height_above_geoid_93_19_mean[273:364]).reshape(-1,1)
sea_surface_height_above_geoid_SON_97_1 = sea_surface_height_above_geoid_93_19_mean[364:447].reshape(-1,1)
sea_surface_height_above_geoid_SON_97_2 = sea_surface_height_above_geoid_93_19_mean[452:455].reshape(-1,1)
sea_surface_height_above_geoid_SON_97 = np.concatenate((sea_surface_height_above_geoid_SON_97_1, sea_surface_height_above_geoid_SON_97_2), axis = 0)
sea_surface_height_above_geoid_SON_97 = np.mean(sea_surface_height_above_geoid_SON_97).reshape(-1,1)
sea_surface_height_above_geoid_SON_98 = np.mean(sea_surface_height_above_geoid_93_19_mean[455:546]).reshape(-1,1)
sea_surface_height_above_geoid_SON_99 = np.mean(sea_surface_height_above_geoid_93_19_mean[546:637]).reshape(-1,1)
sea_surface_height_above_geoid_SON_00 = np.mean(sea_surface_height_above_geoid_93_19_mean[637:728]).reshape(-1,1)
sea_surface_height_above_geoid_SON_01 = np.mean(sea_surface_height_above_geoid_93_19_mean[728:819]).reshape(-1,1)
sea_surface_height_above_geoid_SON_02 = np.mean(sea_surface_height_above_geoid_93_19_mean[819:910]).reshape(-1,1)
sea_surface_height_above_geoid_SON_03 = np.mean(sea_surface_height_above_geoid_93_19_mean[910:1001]).reshape(-1,1)
sea_surface_height_above_geoid_SON_04 = np.mean(sea_surface_height_above_geoid_93_19_mean[1001:1092]).reshape(-1,1)
sea_surface_height_above_geoid_SON_05 = np.mean(sea_surface_height_above_geoid_93_19_mean[1092:1183]).reshape(-1,1)
sea_surface_height_above_geoid_SON_06_1 = sea_surface_height_above_geoid_93_19_mean[1183:1250].reshape(-1,1)
sea_surface_height_above_geoid_SON_06_2 = sea_surface_height_above_geoid_93_19_mean[1255:1274].reshape(-1,1)
sea_surface_height_above_geoid_SON_06 = np.concatenate((sea_surface_height_above_geoid_SON_06_1, sea_surface_height_above_geoid_SON_06_2), axis = 0)
sea_surface_height_above_geoid_SON_06 = np.mean(sea_surface_height_above_geoid_SON_06).reshape(-1,1)
sea_surface_height_above_geoid_SON_07 = np.mean(sea_surface_height_above_geoid_93_19_mean[1274:1365]).reshape(-1,1)
sea_surface_height_above_geoid_SON_08 = np.mean(sea_surface_height_above_geoid_93_19_mean[1365:1456]).reshape(-1,1)
sea_surface_height_above_geoid_SON_09 = np.mean(sea_surface_height_above_geoid_93_19_mean[1456:1547]).reshape(-1,1)
sea_surface_height_above_geoid_SON_10 = np.mean(sea_surface_height_above_geoid_93_19_mean[1547:1638]).reshape(-1,1)
sea_surface_height_above_geoid_SON_11 = np.mean(sea_surface_height_above_geoid_93_19_mean[1638:1729]).reshape(-1,1)
sea_surface_height_above_geoid_SON_12_1 = sea_surface_height_above_geoid_93_19_mean[1732:1738].reshape(-1,1)
sea_surface_height_above_geoid_SON_12_2 = sea_surface_height_above_geoid_93_19_mean[1747:1752].reshape(-1,1)
sea_surface_height_above_geoid_SON_12_3 = sea_surface_height_above_geoid_93_19_mean[1757:1820].reshape(-1,1)
sea_surface_height_above_geoid_SON_12 = np.concatenate((sea_surface_height_above_geoid_SON_12_1, sea_surface_height_above_geoid_SON_12_2, sea_surface_height_above_geoid_SON_12_3), axis = 0)
sea_surface_height_above_geoid_SON_12 = np.mean(sea_surface_height_above_geoid_SON_12).reshape(-1,1)
sea_surface_height_above_geoid_SON_13_1 = sea_surface_height_above_geoid_93_19_mean[1820:1880].reshape(-1,1)
sea_surface_height_above_geoid_SON_13_2 = sea_surface_height_above_geoid_93_19_mean[1885:1903].reshape(-1,1)
sea_surface_height_above_geoid_SON_13_3 = sea_surface_height_above_geoid_93_19_mean[1908:1911].reshape(-1,1)
sea_surface_height_above_geoid_SON_13 = np.concatenate((sea_surface_height_above_geoid_SON_13_1, sea_surface_height_above_geoid_SON_13_2, sea_surface_height_above_geoid_SON_13_3), axis = 0)
sea_surface_height_above_geoid_SON_13 = np.mean(sea_surface_height_above_geoid_SON_13).reshape(-1,1)
sea_surface_height_above_geoid_SON_14_1 = sea_surface_height_above_geoid_93_19_mean[1911:1944].reshape(-1,1)
sea_surface_height_above_geoid_SON_14_2 = sea_surface_height_above_geoid_93_19_mean[1949:1972].reshape(-1,1)
sea_surface_height_above_geoid_SON_14_3 = sea_surface_height_above_geoid_93_19_mean[1977:1986].reshape(-1,1)
sea_surface_height_above_geoid_SON_14 = np.concatenate((sea_surface_height_above_geoid_SON_14_1, sea_surface_height_above_geoid_SON_14_2, sea_surface_height_above_geoid_SON_14_3), axis = 0)
sea_surface_height_above_geoid_SON_14 = np.mean(sea_surface_height_above_geoid_SON_14).reshape(-1,1)
sea_surface_height_above_geoid_SON_15 = np.mean(sea_surface_height_above_geoid_93_19_mean[2078:2084]).reshape(-1,1)
sea_surface_height_above_geoid_SON_16 = np.mean(sea_surface_height_above_geoid_93_19_mean[2093:2184]).reshape(-1,1)
sea_surface_height_above_geoid_SON_17_1 = sea_surface_height_above_geoid_93_19_mean[2192:2236].reshape(-1,1)
sea_surface_height_above_geoid_SON_17_2 = sea_surface_height_above_geoid_93_19_mean[2255:2275].reshape(-1,1)
sea_surface_height_above_geoid_SON_17 = np.concatenate((sea_surface_height_above_geoid_SON_17_1, sea_surface_height_above_geoid_SON_17_2), axis = 0)
sea_surface_height_above_geoid_SON_17 = np.mean(sea_surface_height_above_geoid_SON_17).reshape(-1,1)
sea_surface_height_above_geoid_SON_18_1 = sea_surface_height_above_geoid_93_19_mean[2275:2297].reshape(-1,1)
sea_surface_height_above_geoid_SON_18_2 = sea_surface_height_above_geoid_93_19_mean[2324:2366].reshape(-1,1)
sea_surface_height_above_geoid_SON_18 = np.concatenate((sea_surface_height_above_geoid_SON_18_1, sea_surface_height_above_geoid_SON_18_2), axis = 0)
sea_surface_height_above_geoid_SON_18 = np.mean(sea_surface_height_above_geoid_SON_18).reshape(-1,1)
sea_surface_height_above_geoid_SON_19 = np.mean(sea_surface_height_above_geoid_93_19_mean[2366:]).reshape(-1,1)

In [46]:
sea_surface_height_above_geoid_SON_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_geoid_SON_93, sea_surface_height_above_geoid_SON_94,
sea_surface_height_above_geoid_SON_95, sea_surface_height_above_geoid_SON_96,
sea_surface_height_above_geoid_SON_97, sea_surface_height_above_geoid_SON_98,
sea_surface_height_above_geoid_SON_99, sea_surface_height_above_geoid_SON_00,
sea_surface_height_above_geoid_SON_01, sea_surface_height_above_geoid_SON_02,
sea_surface_height_above_geoid_SON_03, sea_surface_height_above_geoid_SON_04,
sea_surface_height_above_geoid_SON_05, sea_surface_height_above_geoid_SON_06,
sea_surface_height_above_geoid_SON_07, sea_surface_height_above_geoid_SON_08,
sea_surface_height_above_geoid_SON_09, sea_surface_height_above_geoid_SON_10,
sea_surface_height_above_geoid_SON_11, sea_surface_height_above_geoid_SON_12,
sea_surface_height_above_geoid_SON_13, sea_surface_height_above_geoid_SON_14,
sea_surface_height_above_geoid_SON_15, sea_surface_height_above_geoid_SON_16,
sea_surface_height_above_geoid_SON_17, sea_surface_height_above_geoid_SON_18,
sea_surface_height_above_geoid_SON_19), axis = 0).reshape(-1,1)

In [47]:
sea_surface_height_above_sea_level_SON_93 = np.mean(sea_surface_height_above_sea_level_93_19_mean[:91]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_94 = np.mean(sea_surface_height_above_sea_level_93_19_mean[91:182]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_95 = np.mean(sea_surface_height_above_sea_level_93_19_mean[182:273]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_96 = np.mean(sea_surface_height_above_sea_level_93_19_mean[273:364]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_97_1 = sea_surface_height_above_sea_level_93_19_mean[364:447].reshape(-1,1)
sea_surface_height_above_sea_level_SON_97_2 = sea_surface_height_above_sea_level_93_19_mean[452:455].reshape(-1,1)
sea_surface_height_above_sea_level_SON_97 = np.concatenate((sea_surface_height_above_sea_level_SON_97_1, sea_surface_height_above_sea_level_SON_97_2), axis = 0)
sea_surface_height_above_sea_level_SON_97 = np.mean(sea_surface_height_above_sea_level_SON_97).reshape(-1,1)
sea_surface_height_above_sea_level_SON_98 = np.mean(sea_surface_height_above_sea_level_93_19_mean[455:546]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_99 = np.mean(sea_surface_height_above_sea_level_93_19_mean[546:637]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_00 = np.mean(sea_surface_height_above_sea_level_93_19_mean[637:728]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_01 = np.mean(sea_surface_height_above_sea_level_93_19_mean[728:819]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_02 = np.mean(sea_surface_height_above_sea_level_93_19_mean[819:910]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_03 = np.mean(sea_surface_height_above_sea_level_93_19_mean[910:1001]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_04 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1001:1092]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_05 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1092:1183]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_06_1 = sea_surface_height_above_sea_level_93_19_mean[1183:1250].reshape(-1,1)
sea_surface_height_above_sea_level_SON_06_2 = sea_surface_height_above_sea_level_93_19_mean[1255:1274].reshape(-1,1)
sea_surface_height_above_sea_level_SON_06 = np.concatenate((sea_surface_height_above_sea_level_SON_06_1, sea_surface_height_above_sea_level_SON_06_2), axis = 0)
sea_surface_height_above_sea_level_SON_06 = np.mean(sea_surface_height_above_sea_level_SON_06).reshape(-1,1)
sea_surface_height_above_sea_level_SON_07 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1274:1365]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_08 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1365:1456]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_09 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1456:1547]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_10 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1547:1638]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_11 = np.mean(sea_surface_height_above_sea_level_93_19_mean[1638:1729]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_12_1 = sea_surface_height_above_sea_level_93_19_mean[1732:1738].reshape(-1,1)
sea_surface_height_above_sea_level_SON_12_2 = sea_surface_height_above_sea_level_93_19_mean[1747:1752].reshape(-1,1)
sea_surface_height_above_sea_level_SON_12_3 = sea_surface_height_above_sea_level_93_19_mean[1757:1820].reshape(-1,1)
sea_surface_height_above_sea_level_SON_12 = np.concatenate((sea_surface_height_above_sea_level_SON_12_1, sea_surface_height_above_sea_level_SON_12_2, sea_surface_height_above_sea_level_SON_12_3), axis = 0)
sea_surface_height_above_sea_level_SON_12 = np.mean(sea_surface_height_above_sea_level_SON_12).reshape(-1,1)
sea_surface_height_above_sea_level_SON_13_1 = sea_surface_height_above_sea_level_93_19_mean[1820:1880].reshape(-1,1)
sea_surface_height_above_sea_level_SON_13_2 = sea_surface_height_above_sea_level_93_19_mean[1885:1903].reshape(-1,1)
sea_surface_height_above_sea_level_SON_13_3 = sea_surface_height_above_sea_level_93_19_mean[1908:1911].reshape(-1,1)
sea_surface_height_above_sea_level_SON_13 = np.concatenate((sea_surface_height_above_sea_level_SON_13_1, sea_surface_height_above_sea_level_SON_13_2, sea_surface_height_above_sea_level_SON_13_3), axis = 0)
sea_surface_height_above_sea_level_SON_13 = np.mean(sea_surface_height_above_sea_level_SON_13).reshape(-1,1)
sea_surface_height_above_sea_level_SON_14_1 = sea_surface_height_above_sea_level_93_19_mean[1911:1944].reshape(-1,1)
sea_surface_height_above_sea_level_SON_14_2 = sea_surface_height_above_sea_level_93_19_mean[1949:1972].reshape(-1,1)
sea_surface_height_above_sea_level_SON_14_3 = sea_surface_height_above_sea_level_93_19_mean[1977:1986].reshape(-1,1)
sea_surface_height_above_sea_level_SON_14 = np.concatenate((sea_surface_height_above_sea_level_SON_14_1, sea_surface_height_above_sea_level_SON_14_2, sea_surface_height_above_sea_level_SON_14_3), axis = 0)
sea_surface_height_above_sea_level_SON_14 = np.mean(sea_surface_height_above_sea_level_SON_14).reshape(-1,1)
sea_surface_height_above_sea_level_SON_15 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2078:2084]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_16 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2093:2184]).reshape(-1,1)
sea_surface_height_above_sea_level_SON_17_1 = sea_surface_height_above_sea_level_93_19_mean[2192:2236].reshape(-1,1)
sea_surface_height_above_sea_level_SON_17_2 = sea_surface_height_above_sea_level_93_19_mean[2255:2275].reshape(-1,1)
sea_surface_height_above_sea_level_SON_17 = np.concatenate((sea_surface_height_above_sea_level_SON_17_1, sea_surface_height_above_sea_level_SON_17_2), axis = 0)
sea_surface_height_above_sea_level_SON_17 = np.mean(sea_surface_height_above_sea_level_SON_17).reshape(-1,1)
sea_surface_height_above_sea_level_SON_18_1 = sea_surface_height_above_sea_level_93_19_mean[2275:2297].reshape(-1,1)
sea_surface_height_above_sea_level_SON_18_2 = sea_surface_height_above_sea_level_93_19_mean[2324:2366].reshape(-1,1)
sea_surface_height_above_sea_level_SON_18 = np.concatenate((sea_surface_height_above_sea_level_SON_18_1, sea_surface_height_above_sea_level_SON_18_2), axis = 0)
sea_surface_height_above_sea_level_SON_18 = np.mean(sea_surface_height_above_sea_level_SON_18).reshape(-1,1)
sea_surface_height_above_sea_level_SON_19 = np.mean(sea_surface_height_above_sea_level_93_19_mean[2366:]).reshape(-1,1)

In [48]:
sea_surface_height_above_sea_level_SON_93_19_without_MHW_mean = np.concatenate((
sea_surface_height_above_sea_level_SON_93, sea_surface_height_above_sea_level_SON_94,
sea_surface_height_above_sea_level_SON_95, sea_surface_height_above_sea_level_SON_96,
sea_surface_height_above_sea_level_SON_97, sea_surface_height_above_sea_level_SON_98,
sea_surface_height_above_sea_level_SON_99, sea_surface_height_above_sea_level_SON_00,
sea_surface_height_above_sea_level_SON_01, sea_surface_height_above_sea_level_SON_02,
sea_surface_height_above_sea_level_SON_03, sea_surface_height_above_sea_level_SON_04,
sea_surface_height_above_sea_level_SON_05, sea_surface_height_above_sea_level_SON_06,
sea_surface_height_above_sea_level_SON_07, sea_surface_height_above_sea_level_SON_08,
sea_surface_height_above_sea_level_SON_09, sea_surface_height_above_sea_level_SON_10,
sea_surface_height_above_sea_level_SON_11, sea_surface_height_above_sea_level_SON_12,
sea_surface_height_above_sea_level_SON_13, sea_surface_height_above_sea_level_SON_14,
sea_surface_height_above_sea_level_SON_15, sea_surface_height_above_sea_level_SON_16,
sea_surface_height_above_sea_level_SON_17, sea_surface_height_above_sea_level_SON_18,
sea_surface_height_above_sea_level_SON_19), axis = 0).reshape(-1,1)

In [49]:
sea_surface_height_above_geoid_SON_93_19_without_MHW_mean.shape

(27, 1)

In [50]:
sea_surface_height_above_sea_level_SON_93_19_without_MHW_mean.shape

(27, 1)

In [51]:
sea_surface_height_above_sea_level_93_19_mean_all.shape

(27, 1)

In [52]:
sea_surface_height_above_geoid_93_19_mean_all.shape

(27, 1)

In [53]:
np.savez(r'D:\heat_wave\pacific\last\ssh\SSH_SON_Plot_with_without_MHW.npz',
        sea_surface_height_above_geoid_93_19_mean_all = sea_surface_height_above_geoid_93_19_mean_all,
        sea_surface_height_above_sea_level_93_19_mean_all = sea_surface_height_above_sea_level_93_19_mean_all,
        sea_surface_height_above_geoid_SON_93_19_without_MHW_mean = sea_surface_height_above_geoid_SON_93_19_without_MHW_mean,
        sea_surface_height_above_sea_level_SON_93_19_without_MHW_mean = sea_surface_height_above_sea_level_SON_93_19_without_MHW_mean)